<mat-card>
    <!-- Header -->
    <mat-card-title *ngIf="action == 'edit'; else otherwise">Formulaire d'Edit un departement</mat-card-title>
    <ng-template #otherwise>
      <mat-card-title>
        Formulaire d'ajout un nouveau Departement
      </mat-card-title>
    </ng-template>
    <mat-card-subtitle>
      Remplissez le formulaire et cliquez sur enregistrer sans oublier faites attention au champs requis
    </mat-card-subtitle>
    
    <!-- /Header -->

    <!-- Form  -->
    <form fxLayout="column" [formGroup]="fg1">

        <div fxFlex="1 0 auto" fxLayout="column">

          <!--label-->
          <mat-form-field appearance="outline" >
            <mat-label>Label</mat-label>
            <input matInput formControlName="departement_name" required>
            <mat-error>Label est obligatoire</mat-error>
          </mat-form-field>
          <!--/label-->
          <!--description-->
          <mat-form-field appearance="outline" >
            <mat-label>Description</mat-label>
            <textarea name="description" formControlName="description" matInput type="text" max-rows="11"></textarea>
            <mat-error> Label est obligatoirel </mat-error>
          </mat-form-field>
          <!--/description-->

        </div>

    </form>
    <!-- /Form  -->
</mat-card>
<div class="m-8"></div>
<mat-card>
    <!-- Header -->
    <mat-card-title>
        Définition des permissions pour ce rôle
    </mat-card-title>
    <mat-card-subtitle>
        Assigner les droits appropriés pour chaque module
    </mat-card-subtitle>
    <!-- /Header -->

    <!-- Form  -->
    <div  class="mt-20 mb-20">
        <mat-accordion >
          <mat-expansion-panel *ngFor="let module of module_rights; let i = index" [expanded]="i == 0 ? true : false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ getModuleProperty(module.module_id, 'module_name') }}
              </mat-panel-title>
              <mat-panel-description>
                <span class="accent-700-fg">
                  <span class="cursor-pointer a-hovered-style p-8 pr-0" (click)="setRightTo(module.module_id, $event)">all</span> /
                  <span class="cursor-pointer a-hovered-style p-8 pl-0" (click)="unsetRightTo(module.module_id, $event)">none</span>
                </span>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="primary-A200-fg mb-12">{{ getModuleProperty(module.module_id, 'description') }}</p>

            <div  *ngFor="let right of module.rights; let i = index" >
              <div *ngIf="i == 0" fxLayout="row" fxLayoutAlign="start center" class="mb-8 w-99">
                <b fxFlex="0 0 25%">Name</b>
                <b fxFlex="0 0 15%">Status</b>
                <b fxFlex="0 0 15%">Action</b>
                <b fxFlex="0 0 45%">Description</b>
              </div>
              <mat-divider></mat-divider>
              <div fxLayout="row" fxLayoutAlign="start center" class="mb-8 w-99">
                <p fxFlex="0 0 25%" fxLayoutAlign="start">{{ getRightProperty(right.key, 'right_name') }}</p>
                <p fxFlex="0 0 15%" fxLayoutAlign="start" class="teal-600-fg p-4" *ngIf="right.value == 1"><mat-icon>check</mat-icon></p>
                <p fxFlex="0 0 15%" fxLayoutAlign="start" class="red-600-fg p-4" *ngIf="right.value == 0"><mat-icon>close</mat-icon></p>
                <p fxFlex="0 0 15%" fxLayoutAlign="start" *ngIf="right.value == 1" (click)="right.value = 0" class="p-2 cursor-pointer"><mat-icon style="line-height: 1.6;">maximize</mat-icon></p>
                <p fxFlex="0 0 15%" fxLayoutAlign="start" *ngIf="right.value == 0" (click)="right.value = 1" class="p-2 cursor-pointer"><mat-icon>add</mat-icon></p>
                <p fxFlex="0 0 45%" fxLayoutAlign="start">{{ getRightProperty(right.key, 'description') }}</p>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    <!-- /Form  -->
</mat-card>


<div fxLayout="row" fxLayoutAlign="end center" class="mt-16">
    
    
    <button *ngIf="action == 'edit'" mat-raised-button type="button" color="primary-50" (click)="onCancelEdit()" class="mr-4">
        Annuler
    </button>

    <button *ngIf="action == 'edit'; else else_content" mat-raised-button type="button" color="primary" (click)="onEditDepartement()">
        Mettre à jour
    </button>
    
    
    <ng-template #else_content>
      <button mat-raised-button type="button" color="accent" (click)="onAddDepartement()" [disabled]="fg1.invalid" >
        Enregistrer
      </button>
    </ng-template>
</div>