@import "src/@fuse/scss/fuse";

.event-form-dialog {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 480px;
    }

    .mat-dialog-container {
        padding: 0;
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }

    .primary-color-input,
    .secondary-color-input {
        padding: 6px 8px;
    }
}


.info-line {
    margin-left: 8px;
    margin-bottom: 24px;
}

.info-line .title {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
}

.info-line:last-child {
    margin-bottom: 0;
}
