<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <link href="style.css" rel="stylesheet">

    <style >  </style>
</head>
<body>


<div style="
        position: relative;
        overflow: hidden;
        width: 100%;
        min-height: 100%;"
>
    <ul class="flex-container">
        <li class="flex-item">


            <label>Selectionner l'année</label>

            <input (click)="touchDate($event)" matInput name="startDate" id="startDate" class="date-picker" />

        </li>

        <li class="flex-item">

            <label>Selectionner l'année</label>

            <input (click)="touchDate($event)" matInput name="startDate" id="startDate" class="date-picker" />

        </li>


        <li class="flex-item">

            <label>Selectionner l'année</label>

            <input (click)="touchDate($event)" matInput name="startDate" id="startDate" class="date-picker" />


        </li>


    </ul>





</div>

</body>
</html>
