// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.w-24{width:24%!important}
.w-49{width:49%!important}
.w-74{width:74%!important}
.w-99{width:99%!important}
.w-auto{width:auto!important}
.h-24{height:24%!important}
.h-49{height:49%!important}
.h-74{height:74%!important}
.h-99{height:99%!important}
.h-auto{height:auto!important}
.mw-99{max-width:99%!important}
.mh-99{max-height:99%!important}
.min-vw-99{min-width:99vw!important}
.min-vh-99{min-height:99vh!important}
.vw-99{width:99vw!important}
.vh-99{height:99vh!important}



.th-1 {
  font-weight: 600 !important;
  color: #404040 !important;
  font-size: 1.6rem !important;
}

.success-snackbar{
  background: #28a745 !important;
}

.error-snackbar {
  background: #dc3545 !important;
}



.flag {
  border-radius: 3px;
  border: 1px solid currentColor;
  padding: 2px 4px;
  background-color: white;
}

.border-radius-0 { border-radius: 0 !important; }
.border-radius-2 {border-radius: 2px !important;}
.border-radius-4 {border-radius: 4px !important;}
.border-radius-6 {border-radius: 6px !important;}
.border-radius-8 {border-radius: 8px !important;}

.border-0 { border: none !important; }
.cursor-pointer { cursor: pointer !important; }

/* COLORS */
.white-fg { color: white !important; }
.white-bg { background-color: white !important; }

.toolbar {
  .mat-form-field-wrapper {
    padding: 0 !important;
  }
}

.bg-white {
  background-color: white;
}

.hidden {display: none !important;}

.header-input{
  text-align: left !important;
}


@import "~ng-pick-datetime/assets/style/picker.min.css";