<!-- 
Departements
Rôles
Droits d'accès
Modules -->

<mat-accordion>
    <!-- users -->
    <mat-expansion-panel [expanded]="target == 'users'" *ngIf="this._authService.hasRight('consulter', 1) || this._authService.hasRight('ajouter et modifier un utilisateur', 1)">
        <mat-expansion-panel-header>
        <mat-panel-title>
                <mat-icon class="mr-4 red-500-fg">group</mat-icon>
            Utilisateurs
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
                <button mat-list-item (click)="navigate('users', 'list')" *ngIf="this._authService.hasRight('consulter', 1)"> <mat-icon>dehaze</mat-icon> List des utilisateurs </button>
                <div *ngIf="this._authService.hasRight('ajouter et modifier un utilisateur', 1)">
                        <mat-divider></mat-divider>
                        <button mat-list-item (click)="navigate('users', 'add')"> <mat-icon>add</mat-icon> Ajouter un nouveau </button>
                </div>
        </mat-action-list>
    </mat-expansion-panel>
    <!-- departements -->
    <mat-expansion-panel [expanded]="target == 'departements'" *ngIf="this._authService.hasRight('consulter', 1) || this._authService.hasRight('ajouter et modifier un rôle', 1)">
        <mat-expansion-panel-header>
        <mat-panel-title>
                <mat-icon class="mr-4 orange-500-fg">work-outline</mat-icon>
                Departements
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
                <button mat-list-item (click)="navigate('departements', 'list')"  *ngIf="this._authService.hasRight('consulter', 1)"> <mat-icon>dehaze</mat-icon> List des Departements </button>
                <div *ngIf="this._authService.hasRight('ajouter et modifier une departement', 1)">
                        <mat-divider></mat-divider>
                        <button mat-list-item (click)="navigate('departements', 'add')" > <mat-icon>add</mat-icon> Ajouter un nouveau </button>
                </div>
        </mat-action-list>
    </mat-expansion-panel>
    <!-- roles -->
    <mat-expansion-panel [expanded]="target == 'roles'" *ngIf="this._authService.hasRight('consulter', 1) || this._authService.hasRight('ajouter et modifier une departement', 1)">
        <mat-expansion-panel-header>
        <mat-panel-title>
                <mat-icon class="mr-4 blue-500-fg">assignment_turned_in</mat-icon>
                Rôles
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
                <button mat-list-item (click)="navigate('roles', 'list')" *ngIf="this._authService.hasRight('consulter', 1)"> <mat-icon>dehaze</mat-icon> List des Rôles </button>
                <div *ngIf="this._authService.hasRight('ajouter et modifier un rôle', 1)">
                        <mat-divider></mat-divider>
                        <button mat-list-item (click)="navigate('roles', 'add')" > <mat-icon>add</mat-icon> Ajouter un nouveau </button>
                </div>
        </mat-action-list>
    </mat-expansion-panel>
    
    <!-- rights -->
    <mat-expansion-panel [expanded]="target == 'rights'" *ngIf="ShowPermissionsSection">
        <mat-expansion-panel-header>
        <mat-panel-title>
                <mat-icon class="mr-4 teal-500-fg">how_to_reg</mat-icon>
                Droits d'accès
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
                <button mat-list-item (click)="navigate('rights', 'list')"> <mat-icon>dehaze</mat-icon> List des Droits d'accès </button>
        </mat-action-list>
    </mat-expansion-panel>
    <!-- modules -->
    <mat-expansion-panel [expanded]="target == 'modules'" *ngIf="ShowModulesSection">
        <mat-expansion-panel-header>
        <mat-panel-title>
                <mat-icon class="mr-4">class</mat-icon>
                Modules
        </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
                <button mat-list-item (click)="navigate('modules', 'list')"> <mat-icon>dehaze</mat-icon> List des Modules </button>
        </mat-action-list>
    </mat-expansion-panel>
</mat-accordion>