
<div id="products" class="page-layout carded fullwidth inner-scroll">

  <div class="top-bg accent"></div>

  <div class="center">
    <div class="header accent"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">

      <div class="logo mb-24 mb-md-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          shopping_basket
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Projets
        </span>
      </div>
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="7px">
        <button mat-raised-button
                [routerLink]="'/gestion-project/projects/new'"
                class="mat-icon-button" matTooltip="Ajouter">
                <mat-icon class="accent-700-fg">add</mat-icon>
        </button>

        <button mat-raised-button
                (click)="actualiser()"
                class="mat-icon-button" matTooltip="Actualiser">
                <mat-icon class="accent-700-fg">autorenew</mat-icon>
        </button>
      </div>

    </div>
    <!-- The Modal -->
    <div id="myModal" style="z-index: 999;" class="modal">
      <span (click)="close()" id="close" class="close">&times;</span>
      <img #img01 class="modal-content" id="img01">
    </div>

    <div class="content-card">
      <mat-table class="products-table" #table fusePerfectScrollbar [dataSource]="dataSource" [@animateStagger]="{value:'50'}" matSort>

        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
              <input matInput placeholder="nom" class="header-input" (keyup)="searchReference($event)">
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
            <p class="text-truncate">{{product.nom}}</p>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="photo">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
          <p>photo</p>
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
            <img (click)="openModal($event)" style="width:50px; height: 40px;" [src]="product.photo">

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="categories">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
              <input matInput placeholder="categories" class="header-input" (keyup)="searchLibelle($event)">
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
            <p class="text-truncate">{{product.categories}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="villes">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
              <input matInput placeholder="villes" class="header-input" (keyup)="searchLibelle($event)">
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-md>
            <p class="text-truncate">{{product.villes}}</p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="created_by">
          <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>
              <input matInput placeholder="created_by" class="header-input" (keyup)="searchSellPrice($event)">
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
            <p class="price text-truncate" *ngIf="product.created_by !=null">
              {{product.created_by}} %
            </p>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date_ouverture">
          <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>
            <input matInput placeholder="date_ouverture" class="header-input" (keyup)="searchSellPrice($event)">
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
            <p class="price text-truncate" *ngIf="product.date_ouverture !=null">
              {{product.date_ouverture}} %
            </p>
          </mat-cell>
        </ng-container>



        <ng-container matColumnDef="etat">
          <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>
              <input matInput placeholder="etat" class="header-input" (keyup)="searchTva($event)">
          </mat-header-cell>
          <mat-cell *matCellDef="let product" fxHide fxShow.gt-xs>
            <p class="price text-truncate" *ngIf="product.etat !=null">
              {{product.tva}} %
            </p>
          </mat-cell>
        </ng-container>


        <ng-container matColumnDef="buttons">
          <mat-header-cell class="mat-column-buttons" *matHeaderCellDef style="flex: 0 1 80px;"></mat-header-cell>
          <mat-cell *matCellDef="let product" style="flex: 0 1 80px;">

            <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
              <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item aria-label="remove" (click)="delete(product.id)">
                <mat-icon style="color: red">delete</mat-icon>
                <span>Remove</span>
              </button>
            </mat-menu>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

        <mat-row *matRowDef="let product; columns: displayedColumns;" class="product" >
        </mat-row>
      </mat-table>
      <mat-paginator #paginator
                     [pageIndex]="0"
                     [pageSize]="5"
                     [pageSizeOptions]="[5, 10, 25, 100]"
                     [length]="totalSize">
      </mat-paginator>

    </div>
  </div>
</div>
