@import "src/@fuse/scss/fuse";
.top-bg {

  @include media-breakpoint('lt-md') {
    height: 256px;
  }
}
.search-wrapper {
   width: 100%;
   max-width: 480px;
   border-radius: 28px;
   overflow: hidden;

   @include mat-elevation(1);

   @include media-breakpoint('xs') {
     width: 100%;
   }

   .search {
     width: 100%;
     height: 48px;
     line-height: 48px;
     padding: 0 18px;

     input {
       width: 100%;
       height: 48px;
       min-height: 48px;
       max-height: 48px;
       padding: 0 16px;
       border: none;
       outline: none;
       background-color: white;
       color: rgba(0, 0, 0, 0.87);
     }
   }
 }

.header-input
{
   text-align: left;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
}



/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/* The Close Button */
.close {
  position: absolute;
  top: 100px;
  right: 200px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
