<div id="products" class="page-layout carded fullwidth inner-scroll">

    <div class="top-bg accent"></div>

    <div class="center">
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">

            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Home
        </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="7px">
                <button mat-raised-button
                        [routerLink]="'/main/gestion-produits/products/new'"
                        class="mat-icon-button" matTooltip="Ajouter">
                    <mat-icon class="accent-700-fg">add</mat-icon>
                </button>

                <!--<button mat-raised-button-->
                        <!--(click)="actualiser()"-->
                        <!--class="mat-icon-button" matTooltip="Actualiser">-->
                    <!--<mat-icon class="accent-700-fg">autorenew</mat-icon>-->
                <!--</button>-->
            </div>

        </div>
    </div>

</div>
