<div *ngIf="_authService.hasRight('consulter', 1); else refuse">
  <mat-card class="p-0 m-0">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <!-- departement_name Column -->
        <ng-container matColumnDef="departement_name">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Departement" class="header-input" [(ngModel)]="f.departement_name" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </th>
          <td class="font-weight-600" mat-cell *matCellDef="let row">
            <div fxLayout="row" fxLayoutGap="8px" fxAlign="center center">
              <div *ngIf="row.departement_name == 'admin'">
                <mat-icon class="amber-fg mat-icon ng-tns-c77-140 material-icons mat-icon-no-color" departement="img" aria-hidden="true">star</mat-icon>
              </div>
            <span style="line-height: 28px;">{{row.departement_name | titlecase}} </span>
          </div>
        </td>
        </ng-container>
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Description" class="header-input" [(ngModel)]="f.description" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </th>
          <td mat-cell *matCellDef="let row"> {{row.description || "---" }} </td> 
        </ng-container>
        <!-- total_users Column -->
        <ng-container matColumnDef="total_users">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Nombre d'utilisateurs" class="header-input" type="number" [(ngModel)]="f.total_users" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </th>
          <td mat-cell *matCellDef="let row" (click)="onShowUsersUnderDept(row.id)"> <span class="orange-500-bg cursor-pointer p-8 tag border-radius-0 white-fg font-weight-700" style="display: inline-block; line-height: 0.5;"> {{ row.total_users }}</span></td>
        </ng-container>
        <!-- created_at Column -->
        <ng-container matColumnDef="created_at">
              <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header> Créé à
                <mat-icon [matMenuTriggerFor]="menu1688shflmkj" (click)="$event.stopPropagation()">keyboard_arrow_down</mat-icon>
                <mat-menu #menu1688shflmkj >
                  <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field floatLabel="always" >
                      <input matInput #fromInput [matDatepicker]="picker" placeholder="DU" [(ngModel)]="f.created_at.du">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <br>

                  <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <mat-form-field floatLabel="always" >
                      <input matInput #toInput  [matDatepicker]="picker1" placeholder="À" [(ngModel)]="f.created_at.a">
                      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </div>

                  <div mat-menu-item mat-filter-item [disableRipple]="true">
                    <button mat-raised-button (click)="clear()">Vider</button>
                    <button mat-raised-button class="blue-900-bg" color="primary" (click)="super_filter()">Filtrer</button>
                  </div>
                </mat-menu>
              </th>
          <td mat-cell *matCellDef="let row"> {{ formatDate(row.created_at, "YYYY-MM-DD H:m:s", "YYYY-MM-DD")}} </td>
        </ng-container>

  
  
        <!-- Buttons Column --> 
        <ng-container matColumnDef="buttons">
          <th class="th-1" mat-header-cell  *matHeaderCellDef ></th>
          <td mat-cell *matCellDef="let row">
  
            <div  *ngIf="row.departement_name != 'admin'">
              <div *ngIf="_authService.hasRight('ajouter et modifier une departement', 1) || _authService.hasRight('supprimer une departement', 1)">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();"><mat-icon class="secondary-text">more_vert</mat-icon></button>
    
                <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="remove" (click)="onEditDepartement(row.id)" *ngIf="_authService.hasRight('ajouter et modifier une departement', 1)">
                      <mat-icon>create</mat-icon>
                      <span>Editer</span>
                  </button>
                  
                  <button mat-menu-item aria-label="remove" (click)="onDeleteDepartement(row)"  *ngIf="_authService.hasRight('supprimer un departement', 1) && row.total_users == 0">
                    <mat-icon class="font-weight-600 red-500-fg">delete</mat-icon>
                    <span class="font-weight-600 red-500-fg">Supprimer</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator   #paginator [length]="dataSource.filteredData.length"
        [pageIndex]="0"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      <div class="content p-16" *ngIf="_authService.hasRight('ajouter et modifier une departement', 1)">
        <a (click)="onAddDepartement()" class="cursor-pointer">Ajouter une nouvelle departement</a>
      </div>
  </mat-card>
  </div>
<ng-template #refuse>
    <mat-card>
      <div class="mb-16">
        <b>Vous n'êtes pas autorisé à afficher la liste des departements</b>
      </div>
      <div>
          Les utilisateurs ayant la capacité « INDEXER »:
          <br>
          <span class="ml-20" > &rArr; Les administrateurs peuvent effectuer cette action.</span>
      </div>
    </mat-card>
  </ng-template>