<div fxLayout="column" fxLayoutGap="1rem"  >


    <mat-form-field appearance="outline">
      <mat-label>Appuyez sur une touche pour rechercher</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Mot-clé">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>La recherche inclut l'ensemble des données de la table</mat-hint>
    </mat-form-field>
  
  
    <div class="p-0">
      <table style="width: 100%;" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
  
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th class="th-1 pr-24" mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
  
  
  
        <!-- module_name Column -->
        <ng-container matColumnDef="module_name">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header> Label </th>
          <td mat-cell *matCellDef="let row"> {{row.module_name }} </td>
        </ng-container>
        <!-- /module_name Column -->
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th style="max-width: 700px;" class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header> Description </th>
          <td style="max-width: 700px;" mat-cell *matCellDef="let row"> {{row.description }} </td>
        </ng-container>
        <!-- /description Column -->
        <!-- created_at Column -->
        <ng-container matColumnDef="created_at">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header> Créé à </th>
          <td mat-cell *matCellDef="let row"> {{row.created_at | date }} </td>
        </ng-container>
        <!-- /created_at Column -->
  
  
        <!-- Buttons Column --> 
        <ng-container matColumnDef="buttons">
          <th class="th-1" mat-header-cell  *matHeaderCellDef ></th>
          <td mat-cell *matCellDef="let row">
  
  
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                      (click)="$event.stopPropagation();">
                <mat-icon class="secondary-text">more_vert</mat-icon>
              </button>
  
              <mat-menu #moreMenu="matMenu">

                <button mat-menu-item aria-label="remove" (click)="onEditModuleClick(row)">
                  <mat-icon>create</mat-icon>
                  <span>Editer</span>
                </button>
                <button mat-menu-item aria-label="remove" (click)="onDeleteModule(row.id)">
                  <mat-icon class="font-weight-600 red-500-fg">delete</mat-icon>
                  <span class="font-weight-600 red-500-fg">Supprimer</span>
                </button>
                
              </mat-menu>
  
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      
  
      
      <div [hidden]="!enablePaginator">
        <mat-paginator   #paginator [length]="dataSource.filteredData.length" 
        [pageIndex]="0" 
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      </div>
      <div class="content p-16">
        <a (click)="onAddModuleClick()">Ajouter un nouveau module</a>
      </div>
    </div>
  
  </div>