<div *ngIf="_authService.hasRight('consulter', 1); else else8sdf64sd4" >
  <mat-card class="p-0 m-0">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- login Column -->
      <ng-container matColumnDef="login">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header>
          <input matInput placeholder="Login" class="header-input" [(ngModel)]="f.login" (keyup)="super_filter()" (click)="$event.stopPropagation();">
        </th>
        <td mat-cell *matCellDef="let user"><b>{{user.login | uppercase}} </b></td>
      </ng-container>
      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header>
          <input matInput placeholder="E-mail" class="header-input" [(ngModel)]="f.email" (keyup)="super_filter()" (click)="$event.stopPropagation();">
        </th>
        <td mat-cell *matCellDef="let user"> {{user.email }} </td>
      </ng-container>
      <!-- full_name Column -->
      <ng-container matColumnDef="last_name">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header>
          <input matInput placeholder="Nom" class="header-input" [(ngModel)]="f.full_name" (keyup)="super_filter()" (click)="$event.stopPropagation();">
        </th>
        <td mat-cell *matCellDef="let user"> {{(user.full_name | titlecase) || "---"}} </td>
      </ng-container>
      <!-- phone_number Column -->
      <ng-container matColumnDef="phone_number">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header>
          <input matInput placeholder="Téléphone" class="header-input" [(ngModel)]="f.phone_number" (keyup)="super_filter()" (click)="$event.stopPropagation();">
        </th>
        <td mat-cell *matCellDef="let user"> {{user.phone_number || "---"}} </td>
      </ng-container>
      <!-- function Column -->
      <ng-container matColumnDef="function">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header>
          <input matInput placeholder="Fonction" class="header-input" [(ngModel)]="f.job" (keyup)="super_filter()" (click)="$event.stopPropagation();"></th>
        <td mat-cell *matCellDef="let user">  {{(user.job || "---" )  | titlecase  }}  </td>
      </ng-container>
      <!-- disabled Column -->
      <ng-container matColumnDef="disabled">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header>Etat
          <mat-select placeholder="Etat" #etat [(ngModel)]="f.disabled" (selectionChange)="super_filter()" >
            <mat-option value="">Etat</mat-option>
            <mat-option value="0"> Activé </mat-option>
            <mat-option value="1"> Disactivé</mat-option>
          </mat-select>
        </th>
        <td mat-cell *matCellDef="let user">
          <mat-icon class="teal-600-fg p-4" *ngIf="!user.disabled; else else168qxf16sd">check</mat-icon>
          <ng-template #else168qxf16sd>
            <mat-icon class="red-600-fg p-4">close</mat-icon>
          </ng-template>
        </td>
      </ng-container>
      <!-- last_login Column -->
      <ng-container matColumnDef="last_login">
        <th  class="th-1" mat-header-cell *matHeaderCellDef mat-sort-header> Dernière connexion
          <mat-icon [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">keyboard_arrow_down</mat-icon>
          <mat-menu #menu >
            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <mat-form-field floatLabel="always" >
                <input matInput #fromInput [matDatepicker]="picker" placeholder="DU" [(ngModel)]="f.last_login.du">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <br>

            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <mat-form-field floatLabel="always" >
                <input matInput #toInput  [matDatepicker]="picker1" placeholder="À" [(ngModel)]="f.last_login.a">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

            <div mat-menu-item mat-filter-item [disableRipple]="true">
              <button mat-raised-button (click)="clear()">Vider</button>
              <button mat-raised-button class="blue-900-bg" color="primary" (click)="super_filter()">Filtrer</button>
            </div>
          </mat-menu>
        </th>
        <td mat-cell *matCellDef="let user"> {{user.last_login || '---'}} </td>
      </ng-container>
      <!-- Buttons Column -->
      <ng-container matColumnDef="buttons">
        <th  class="th-1" mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                  (click)="$event.stopPropagation();">
            <mat-icon class="secondary-text">more_vert</mat-icon>
          </button>

          <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="show" (click)="onShowProfile(user.id)" >
              <mat-icon>account_circle</mat-icon>
              <span>Profile</span>
            </button>
            <div *ngIf="!hideRemoveUserAction">
              <button mat-menu-item aria-label="remove" (click)="onDeleteUser(user)" *ngIf="_authService.hasRight('supprimer un utilisateur', 1) && user.id != 1">
                <mat-icon class="font-weight-600 red-500-fg">delete</mat-icon>
                <span class="font-weight-600 red-500-fg">Supprimer</span>
              </button>
            </div>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator  #paginator [length]="totalSize" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</mat-card>
</div>
<ng-template #else8sdf64sd4>
  <mat-card>
    <div class="mb-16">
      <b>Vous n'êtes pas autorisé à afficher la liste des utilisateurs</b>
    </div>
    <div>
        Les utilisateurs ayant la capacité « INDEXER »:
        <br>
        <span class="ml-20" > &rArr; Les administrateurs peuvent effectuer cette action.</span>
    </div>
  </mat-card>
</ng-template>
