<div class="page-layout simple right-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="header accent p-24 h-auto" fxLayout="row" fxLayoutAlign="center center" fxLayout.gt-xs="row"
         fxLayoutAlign.gt-xs="space-between center">

            <div class="w-99" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <div *ngFor="let step of breadcrumb['steps']" fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                        <span class="secondary-text">{{step}}</span>
                    </div>
                </div>

                <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-16">
                    <div class="h2"> {{breadcrumb.big_header}} </div>

                    <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                            (click)="toggleSidebar('simple-right-sidebar-4')">
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>
            </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <!-- SIDEBAR -->
        <fuse-sidebar class="sidebar" name="simple-right-sidebar-4" position="left" lockedOpen="gt-md">

            <!-- SIDEBAR CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>
                    <app-side-bar></app-side-bar>
            </div>
            <!-- / SIDEBAR CONTENT -->

        </fuse-sidebar>
        <!-- / SIDEBAR -->

        <!-- CENTER -->
        <div class="center p-24" fusePerfectScrollbar>

            <!-- CONTENT -->
            <div class="">
                <router-outlet></router-outlet>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

    </div>
    <!-- / CONTENT -->

</div>




