<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.content}}</p>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button (click)="onNoClick()" *ngIf="noThanks">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.title" cdkFocusInitial class="accent-500-bg" style="color: #fff;">Ok</button>
</div>