<div id="partners" class="page-layout carded fullwidth inner-scroll" xmlns="http://www.w3.org/1999/html">

  <div class="top-bg accent"></div>

  <div class="center" ngClass.xs="p-0">

    <!--<p>{{ f | json}}</p>-->
    <div class="header accent"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">

      <div fxLayout="column" fxLayoutAlign="start start"
           [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        <div class="h2" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Relance
        </div>

        <div class="subtitle secondary-text">
          <span>Les client qui ont rater leur rendez vous</span>
        </div>
      </div>


      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="7px">
        <button mat-raised-button
                class="mat-icon-button" matTooltip="Ajouter" [routerLink]="['/partners', 'action-form']" [queryParams]="{todo: 'ADD'}">
          <mat-icon class="accent-700-fg">add</mat-icon>
        </button>
      </div>
    </div>

    <div class="content-card">
      <mat-table  #table fusePerfectScrollbar [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" >

        <!-- status  -->
        <!--<ng-container matColumnDef="statut">-->
          <!--<mat-header-cell *matHeaderCellDef mat-sort-header >Etat-->
            <!--<mat-select placeholder="Etat" #status [(ngModel)]="f.status" (selectionChange)="super_filter()">-->
              <!--<mat-option value="">Etat</mat-option>-->
              <!--<mat-option value="1"> Prospect </mat-option>-->
              <!--<mat-option value="2"> Client </mat-option>-->
              <!--<mat-option value="3"> Visiteur </mat-option>-->
              <!--<mat-option value="-1"> Perdu </mat-option>-->
              <!--<mat-option value="4"> En négociation </mat-option>-->
            <!--</mat-select>-->
          <!--</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let partner">-->
            <!--<span class="green-500-fg p-4 flag" *ngIf="partner.statut =='2'" > Client </span>-->
            <!--<span class="lime-500-fg p-4 flag" *ngIf="partner.statut =='1'" > Prospect </span>-->
            <!--<span class="red-500-fg p-4 flag" *ngIf="partner.statut =='-1'" > Perdu </span>-->
            <!--<span class="cyan-500-fg p-4 flag" *ngIf="partner.statut =='4'" > En négociation </span>-->
            <!--<span class="orange-500-fg p-4 flag" *ngIf="partner.statut =='3'" > Visiteur </span>-->
          <!--</mat-cell>-->
        <!--</ng-container>-->

        <!-- Nom  -->
        <ng-container matColumnDef="object">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="object du calendrier" class="header-input" #installer [(ngModel)]="f.object" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.object | titlecase }}</p>
          </mat-cell>
        </ng-container>


  <!-- Nom  -->
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Nom" class="header-input" #installer [(ngModel)]="f.nom" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.nom | titlecase }}</p>
          </mat-cell>
        </ng-container>

        <!-- Prénom  -->
        <ng-container matColumnDef="prenom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Prénom" class="header-input" #installer [(ngModel)]="f.prenom" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.prenom | titlecase }}</p>
          </mat-cell>
        </ng-container>



        <!-- buttons -->
        <ng-container matColumnDef="buttons" stickyEnd>

          <mat-header-cell *matHeaderCellDef style="flex:0 1 70px" [ngStyle.xs]="{'flex': '0 0 40px'}"></mat-header-cell >
          <mat-cell *matCellDef="let partner" style="flex:0 1 70px" [ngStyle.xs]="{'flex': '0 0 40px'}">
            <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                    (click)="$event.stopPropagation();">
              <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item [routerLink]="['/partners', 'action-form']" [queryParams]="{todo: 'EDIT', pid: partner.devis_id}">
                <mat-icon class="orange-500-fg">create</mat-icon>
                <span>Editer</span>
              </button>
              <button mat-menu-item (click)="ondeletePartner(partner.id)">
                <mat-icon class="font-weight-600 red-500-fg">delete</mat-icon>
                <span class="font-weight-600 red-500-fg">Supprimer</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" ></mat-header-row>
        <mat-row *matRowDef="let partner; columns: displayedColumns;"
                 [routerLink]="'/partners/'+partner.part_id">
          >
        </mat-row>
      </mat-table>

      <!--[hidden]='!hasRight("??", ??)'-->
      <div style="position:relative;" >
        <mat-paginator #paginator
                       [pageIndex]="0"
                       [pageSize]= "pagesize"
                       [pageSizeOptions]="[25, 50, 100, 250, 500]"
                       [length]="totalSize">
        </mat-paginator>
      </div>
    </div>

  </div>


</div>

