<div id="project" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <!-- CENTER -->
  <div class="center">
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="ng-tns-c39-37" fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/gestion-project/projects'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="project-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <!--<img *ngIf="project.images[0]" [src]="project.images[0].url">-->
          <img  [src]="'assets/images/ecommerce/project-image-placeholder.png'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{project.label}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            Nouveau Projet
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button
                *ngIf="pageType ==='new'"
                (click)="onSubmit(nom.value,ville_id.value,categorie.value)"
                class="mat-icon-button" matTooltip="Ajouter">
                <mat-icon class="accent-700-fg">add</mat-icon>
      </button>

      <button mat-raised-button
                *ngIf="pageType ==='edit'"
                class="mat-icon-button" matTooltip="Enregistrer"
                (click)="onUpdate(project.id,ville_id.value,category_id.value)">
                <mat-icon class="accent-700-fg">save</mat-icon>
      </button>
    </div>
    <div class="content-card" pageType="new" >
      <div class="content">
        <form [formGroup]="myform" class="project w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>
            <mat-tab label="Informations de base">
              <div class="tab-content p-24" fusePerfectScrollbar>


                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Nom Projet</mat-label>
                  <input matInput placeholder="Nom Projet" formControlName="nom" #nom value="{{project.nom}}" >
                </mat-form-field>

                <!--<input matInput formControlName="login" required>-->
                <!--<mat-icon matSuffix class="secondary-text">account_circle</mat-icon>-->
                <!--<mat-error>Login est obligatoire!</mat-error>-->



                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-35-p">
                  <mat-label>Ville </mat-label>
                  <mat-select placeholder="Ville" formControlName="ville_id"  (openedChange)="city.focus()" #ville_id value="{{project.ville_id}}">
                    <input class="myInput" #city matInput focused="'true'" type="text" (keyup)="searchCity($event)" autocomplete="off" placeholder="search" style="padding: 15px;position:relative">
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let city of selectedCity" [value]="city.id">{{city.nom}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div fxLayout="column" class="pb-16 pt-16" style="border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 6px; margin-bottom: 16px;">
                  <input type="file" id="photo" >
                  <!-- <span class="accent-700-fg" id="upload-file-info"></span> -->
                </div>

                <mat-form-field appearance="outline" floatLabel="always" class="w-35-p">
                  <mat-label>Categorie  </mat-label>
                  <mat-select placeholder="Categorie" formControlName="categorie_id" #categorie value="{{project.categorie}}">
                    <input class="myInput" #myInput matInput focused="'true'" type="text" (keyup)="searchCategory($event)" autocomplete="off" placeholder="search" style="padding: 15px;position:relative">
                    <button mat-menu-item aria-label="remove" class="icon_add" (click)="editCategorie()">
                      <mat-icon style="color:#039be5">add_circle</mat-icon>
                    </button>
                    <div *ngFor="let categorie of selectedCategory">
                      <mat-option  [value]="categorie.id">{{categorie.nom}}</mat-option>
                      <!-- <button mat-menu-item aria-label="remove" class="icon_add" (click)="deleteCategorie(categorie.id)">
                        <mat-icon style="color:red">delete</mat-icon>
                      </button> -->
                    </div>

                  </mat-select>
                </mat-form-field>



              </div>
            </mat-tab>



          </mat-tab-group>
        </form>
      </div>
    </div >


  </div>
</div>
