#product {

  .header {

    .product-image {
      overflow: hidden;
      width: 56px;
      min-width: 56px;
      max-width: 56px;
      height: 56px;
      min-height: 56px;
      max-height: 56px;
      border-radius: 4px;

      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }

    .subtitle {
      margin: 6px 0 0 0;
    }
  }

  .content {

    .mat-tab-group,
    .mat-tab-body-wrapper,
    .tab-content{
      flex: 1 1 auto;
      max-width: 100%;
    }

    .mat-tab-body-content {
      display: flex;
    }

    .mat-tab-label {
      height: 64px;
    }

    .product-image {
      overflow: hidden;
      width: 128px;
      height: 128px;
      margin-right: 16px;
      margin-bottom: 16px;
      border-radius: 4px;

      img {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }

    // Temporary prefix alignment fix
    .mat-form-field-appearance-outline .mat-form-field-prefix,
    .mat-form-field-appearance-outline .mat-form-field-suffix {
      top: 0;
    }
  }

  .header.accent
  {
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
  }
  .ng-tns-c39-37
  {
    lex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center space-between;
    align-items: center;
  }

}

.icon_add{
  position: absolute;
  margin-top: -50px;
  margin-left: 86%;
  max-width: 25%;
}
#icon-delete{
  position: absolute;
  margin-top: -50px;
  margin-left: 75%;
  max-width: 24%;
}






