<div id="partners" class="page-layout carded fullwidth inner-scroll" xmlns="http://www.w3.org/1999/html">

  <div class="top-bg accent"></div>

  <div class="center" ngClass.xs="p-0">

    <!--<p>{{ f | json}}</p>-->
    <div class="header accent"
         fxLayout="column" fxLayoutAlign="center center"
         fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">

      <div class="partnero mb-24 mb-md-0"
           fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="partnero-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          group
        </mat-icon>
        <span class="partnero-text h1 text-uppercase" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                Partenaires
              </span>
      </div>

      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="7px">
        <!--*ngIf='hasRight("??", ??)'-->
        <button mat-raised-button
                (click)="refresh()"
                class="mat-icon-button" matTooltip="Actualisé">
          <mat-icon class="accent-700-fg">refresh</mat-icon>
        </button>
        <button mat-raised-button
                class="mat-icon-button" matTooltip="Ajouter" [routerLink]="['/partners', 'action-form']" [queryParams]="{todo: 'ADD'}">
          <mat-icon class="accent-700-fg">add</mat-icon>
        </button>
      </div>
    </div>

    <div class="content-card">
      <mat-table  #table fusePerfectScrollbar [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" >

        <!-- status  -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header >Etat
            <mat-select placeholder="Etat" #status [(ngModel)]="f.status" (selectionChange)="super_filter()">
              <mat-option value="">Etat</mat-option>
              <mat-option value="1"> Prospect </mat-option>
              <mat-option value="2"> Client </mat-option>
              <mat-option value="3"> Visiteur </mat-option>
              <mat-option value="-1"> Perdu </mat-option>
              <mat-option value="4"> En négociation </mat-option>
            </mat-select>
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <span class="green-500-fg p-4 flag" *ngIf="partner.statut =='2'" > Client </span>
            <span class="lime-500-fg p-4 flag" *ngIf="partner.statut =='1'" > Prospect </span>
            <span class="red-500-fg p-4 flag" *ngIf="partner.statut =='-1'" > Perdu </span>
            <span class="cyan-500-fg p-4 flag" *ngIf="partner.statut =='4'" > En négociation </span>
            <span class="orange-500-fg p-4 flag" *ngIf="partner.statut =='3'" > Visiteur </span>
          </mat-cell>
        </ng-container>

        <!-- Nom  -->
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Nom" class="header-input" #installer [(ngModel)]="f.nom" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.nom | titlecase }}</p>
          </mat-cell>
        </ng-container>

        <!-- Prénom  -->
        <ng-container matColumnDef="prenom">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Prénom" class="header-input" #installer [(ngModel)]="f.prenom" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.prenom | titlecase }}</p>
          </mat-cell>
        </ng-container>

        <!-- Projet  -->
        <ng-container matColumnDef="project">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Projet" class="header-input" #installer [(ngModel)]="f.project" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.project }}</p>
          </mat-cell>
        </ng-container>

        <!-- Crée par  -->
        <ng-container matColumnDef="cree_par">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Crée par" class="header-input" #installer [(ngModel)]="f.cree_par" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.created_by | titlecase }}</p>
          </mat-cell>
        </ng-container>

        <!-- date_creation -->
        <ng-container matColumnDef="date_creation">
          <mat-header-cell *matHeaderCellDef mat-sort-header >Crée par
            <mat-icon [matMenuTriggerFor]="menu68qsdf4" (click)="$event.stopPropagation()">keyboard_arrow_down</mat-icon>
            <mat-menu #menu68qsdf4 >
              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <mat-form-field floatLabel="always" >
                  <input matInput #fromInputC [matDatepicker]="picker1" placeholder="DU" [(ngModel)]="f.date_creation.du">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <br>

              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <mat-form-field floatLabel="always" >
                  <input matInput #toInputC  [matDatepicker]="picker2" placeholder="À" [(ngModel)]="f.date_creation.a">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>

              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <button mat-raised-button (click)="clear1()">Vider</button>
                <button mat-raised-button class="blue-900-bg" color="primary" (click)="super_filter()">Filtrer</button>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let partner" >
            <p class="text-truncate" >{{partner?.created_at || '---'}}</p>
          </mat-cell>
        </ng-container>

        <!-- Modifié par  -->
        <ng-container matColumnDef="mis_a_jour_par">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Modifié par" class="header-input" #installer [(ngModel)]="f.mis_a_jour_par" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </mat-header-cell>
          <mat-cell *matCellDef="let partner">
            <p class="text-truncate fuse-black-fg" >{{ partner.mis_a_jour_par | titlecase }}</p>
          </mat-cell>
        </ng-container>


        <!-- mis_a_jour_a -->
        <ng-container matColumnDef="mis_a_jour_a">
          <mat-header-cell *matHeaderCellDef mat-sort-header >Modifié à
            <mat-icon [matMenuTriggerFor]="menumjqsg5a" (click)="$event.stopPropagation()">keyboard_arrow_down</mat-icon>
            <mat-menu #menumjqsg5a >
              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <mat-form-field floatLabel="always" >
                  <input matInput #fromInputC [matDatepicker]="picker3" placeholder="DU" [(ngModel)]="f.mis_a_jour_a.du">
                  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>
              <br>

              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <mat-form-field floatLabel="always" >
                  <input matInput #toInputC  [matDatepicker]="picker4" placeholder="À" [(ngModel)]="f.mis_a_jour_a.a">
                  <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                  <mat-datepicker #picker4></mat-datepicker>
                </mat-form-field>
              </div>

              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <button mat-raised-button (click)="clear2()">Vider</button>
                <button mat-raised-button class="blue-900-bg" color="primary" (click)="super_filter()">Filtrer</button>
              </div>
            </mat-menu>
          </mat-header-cell>
          <mat-cell *matCellDef="let partner" >
            <p class="text-truncate" >{{partner?.mis_a_jour_a || '---'}}</p>
          </mat-cell>
        </ng-container>


        <!-- buttons -->
        <ng-container matColumnDef="buttons" stickyEnd>

          <mat-header-cell *matHeaderCellDef style="flex:0 1 70px" [ngStyle.xs]="{'flex': '0 0 40px'}"></mat-header-cell >
          <mat-cell *matCellDef="let partner" style="flex:0 1 70px" [ngStyle.xs]="{'flex': '0 0 40px'}">
            <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                    (click)="$event.stopPropagation();">
              <mat-icon class="secondary-text">more_vert</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
              <button mat-menu-item [routerLink]="['/partners', 'action-form']" [queryParams]="{todo: 'EDIT', pid: partner.devis_id}">
                <mat-icon class="orange-500-fg">create</mat-icon>
                <span>Editer</span>
              </button>
              <button mat-menu-item (click)="ondeletePartner(partner.id)">
                <mat-icon class="font-weight-600 red-500-fg">delete</mat-icon>
                <span class="font-weight-600 red-500-fg">Supprimer</span>
              </button>
            </mat-menu>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" ></mat-header-row>
        <mat-row *matRowDef="let partner; columns: displayedColumns;"
        [routerLink]="['/partners/', partner.part_id]" [queryParams]="{devis_id: partner.devis_id}" >

        >
        </mat-row>
      </mat-table>

      <!--[hidden]='!hasRight("??", ??)'-->
      <div style="position:relative;" >
        <mat-paginator #paginator
                       [pageIndex]="0"
                       [pageSize]= "pagesize"
                       [pageSizeOptions]="[25, 50, 100, 250, 500]"
                       [length]="totalSize">
        </mat-paginator>
      </div>
    </div>

  </div>


</div>

