<div id="profile" class="page-layout simple tabbed" *ngIf="readyComponent">

        <!-- HEADER -->
        <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="space-between end">

            <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                 fxLayoutAlign.gt-sm="start center">

                 <div class="img_area">
                    <img *ngIf="noAvatar" class="profile-image avatar huge" src="assets/images/avatars/profile.jpg">
                    <img *ngIf="!noAvatar" class="profile-image avatar huge" [src]="photo">

                    <div class="options-menu">
                        <button class="options-menu__button" [matMenuTriggerFor]="PRMenu" >
                            <mat-icon>more_vert</mat-icon>
                        </button>

                        <mat-menu #PRMenu="matMenu">
                            <button mat-menu-item *ngIf="!noAvatar" (click)="deleteAvatar()">
                                <mat-icon class="font-weight-600 red-500-fg">close</mat-icon>
                                <span>Supprimer l'avatar actuel</span>
                            </button>
                            <button mat-menu-item (click)="triggerFinder()">
                                <mat-icon class="accent-500-fg">cloud_upload</mat-icon>
                                <span>Télécharger votre photo de profil</span>
                            </button>
                            <input type="file" id="photo" class="hidden" (change)="handleFileInput($event.target.files)">
                        </mat-menu>
                    </div>

                </div>
                <div fxLayout="row" fxAlign="start end">
                    <div class="name pr-8">
                        {{selectedUser.first_name | titlecase}} {{selectedUser.last_name | titlecase}}
                    </div>
                    <p class="h3 primary-50-fg" *ngIf="selectedUser.role_id != 1">
                        <b>(</b>
                        {{getRoleProperty(selectedUser.role_id, "role_name")  | titlecase }}
                        <b>)</b>
                    </p>

                    <p class="h3 primary-50-fg" *ngIf="selectedUser.rights_depending == 1 && selectedUser.role_id == 1" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
                        <b>(</b>Super Admin <b>)</b> <mat-icon class="amber-fg mat-icon ng-tns-c77-140 material-icons mat-icon-no-color" role="img" aria-hidden="true">star</mat-icon>
                    </p>
                </div>

            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center" >
                <div *ngIf="!disableEditMode">
                    <button mat-raised-button color="accent" aria-label="active" (click)="onactiveModeEdition()">{{ !editMode ? 'Activer le mode édition': 'Disactiver le mode édition' }}</button>
                </div>
                <!-- <button mat-raised-button color="primary" aria-label="Send Message">Send Message</button> -->
            </div>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content">

            <mat-tab-group dynamicHeight="true">

                <mat-tab label="About">
                    <div id="about" class="p-24" fxLayout="row wrap">

                        <div class="about-content pr-20" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

                                <!-- GENERAL INFORMATIONS -->
                                <div class="card mat-card p-0 mb-24">

                                        <!-- PREVIEW -->
                                        <div class="card-preview">
                                            <div class="light-blue-600">

                                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                                    <!-- Heading -->
                                                    <div class="pr-16">
                                                        <div class="h1 font-weight-300">Information général</div>
                                                        <div class="h5 secondary-text">Informations personnelles de base</div>
                                                    </div>
                                                    <!-- /Heading -->

                                                    <!-- Option Menu -->

                                                    <div *ngIf="!enableEditfg1 && !disableEditMode">
                                                        <button mat-icon-button [matMenuTriggerFor]="GIMenu" aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>

                                                        <mat-menu #GIMenu="matMenu">
                                                            <button mat-menu-item (click)="enableEditfg1 = !enableEditfg1">
                                                                <mat-icon>edit</mat-icon>
                                                                <span>Editer</span>
                                                            </button>
                                                        </mat-menu>
                                                    </div>
                                                    <!-- /Option Menu -->
                                                </div>

                                            </div>
                                        </div>
                                        <!-- / PREVIEW -->

                                        <form [formGroup]="fg1">

                                            <div class="p-24">

                                                <!-- Data Panel -->
                                                <div *ngIf="!enableEditfg1">
                                                    <div class="info-line">
                                                        <div class="title">Prénom</div>
                                                        <div class="info">{{(selectedUser.first_name || "---") | titlecase}}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Nom</div>
                                                        <div class="info">{{(selectedUser.last_name || "---") | uppercase}}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">CIN</div>
                                                        <div class="info">{{(selectedUser.cin || "---") | uppercase}}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Sexe</div>
                                                        <div class="info accent-500-fg" *ngIf="selectedUser.gender == 0">Homme</div>
                                                        <div class="info pink-500-fg" *ngIf="selectedUser.gender  == 1">Femme</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Date de naissance</div>
                                                        <div class="info">{{(selectedUser.birth_day || "---") | date}}</div>
                                                    </div>
                                                </div>
                                                <!-- /Data Panel -->

                                                <!--Form Controls-->
                                                <div *ngIf="enableEditfg1" fxLayout="column">
                                                    <!--first_name-->
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Prénom</mat-label>
                                                        <input matInput formControlName="first_name">
                                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                        <mat-error>Le prénom est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/first_name-->
                                                    <!--last_name-->
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Nom</mat-label>
                                                        <input matInput formControlName="last_name" required>
                                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                        <mat-error>Le nom est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/last_name-->
                                                    <!--cin-->
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>CIN</mat-label>
                                                        <input matInput formControlName="cin" required>
                                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                                        <mat-error>CIN est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/cin-->
                                                    <!--birth_day-->
                                                    <mat-form-field appearance="outline">
                                                    <mat-label>Date de naissance</mat-label>
                                                    <input matInput [matDatepicker]="picker" formControlName="birth_day">
                                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                    <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                    <!--/birth_day-->
                                                    <!--gender-->
                                                    <mat-form-field appearance="outline">
                                                    <mat-label>Sex</mat-label>
                                                    <mat-select formControlName="gender" required>
                                                        <mat-option [value]="'0'">
                                                        Male
                                                        </mat-option>
                                                        <mat-option [value]="'1'">
                                                        Female
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error>Ce champ est obligatoir</mat-error>
                                                    </mat-form-field>
                                                        <!--/gender-->
                                                </div>
                                                <!--/Form Controls-->

                                            </div>

                                            <div *ngIf="enableEditfg1">
                                                <mat-divider></mat-divider>

                                                <div fxLayout="row" fxAlign="center center" class="px-24 py-12">
                                                    <button type="button" class="mr-8" mat-button (click)="enableEditfg1 = !enableEditfg1">Annuler</button>
                                                    <button type="submit" mat-button class="light-blue-600 text-secondary" (click)="onSubmitfg1()">Enregistrer</button>
                                                </div>
                                            </div>
                                        </form>


                                </div>
                                <!-- /GENERAL INFORMATIONS -->

                                <!-- Contact -->
                                <div class="card mat-card p-0 mb-24">

                                        <!-- PREVIEW -->
                                        <div class="card-preview">
                                            <div class="light-blue-600">

                                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                                    <!-- Heading -->
                                                    <div class="pr-16">
                                                        <div class="h1 font-weight-300">Contact</div>
                                                    </div>
                                                    <!-- /Heading -->

                                                    <!-- Option Menu -->
                                                    <div *ngIf="!enableEditfg2 && !disableEditMode">
                                                        <button mat-icon-button [matMenuTriggerFor]="GIMenu" aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>

                                                        <mat-menu #GIMenu="matMenu">
                                                            <button mat-menu-item (click)="enableEditfg2 = !enableEditfg2">
                                                                <mat-icon>edit</mat-icon>
                                                                <span>Editer</span>
                                                            </button>
                                                        </mat-menu>
                                                    </div>
                                                    <!-- /Option Menu -->
                                                </div>

                                            </div>
                                        </div>
                                        <!-- / PREVIEW -->

                                        <form [formGroup]="fg2">

                                            <div class="p-24">

                                                <!-- Data Panel -->
                                                <div *ngIf="!enableEditfg2">
                                                    <div class="info-line">
                                                        <div class="title">Email</div>
                                                        <div class="info">{{(selectedUser.email || "---") | lowercase}}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Téléphone</div>
                                                        <div class="info">{{(selectedUser.phone_number || "---") | uppercase}}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Address</div>
                                                        <div class="info">{{(selectedUser.address || "---") | titlecase}}</div>
                                                    </div>
                                                </div>
                                                <!-- /Data Panel -->

                                                <!--Form Controls-->
                                                <div *ngIf="enableEditfg2" fxLayout="column">
                                                    <!--email-->
                                                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                        <mat-label>Email</mat-label>
                                                        <input matInput formControlName="email" required type="email">
                                                        <mat-icon matSuffix class="secondary-text">alternate_email</mat-icon>
                                                        <mat-error>Vous devez entrer un email valide</mat-error>
                                                    </mat-form-field>
                                                    <!--/email-->
                                                    <!--phone_number-->
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Téléphone</mat-label>
                                                        <input matInput formControlName="phone_number">
                                                        <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                                        <mat-error>Téléphone est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/phone_number-->
                                                    <!--address-->
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Adress</mat-label>
                                                        <input matInput formControlName="address">
                                                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                                                        <mat-error>Address est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/address-->
                                                </div>
                                                <!--/Form Controls-->

                                            </div>

                                            <div *ngIf="enableEditfg2">
                                                <mat-divider></mat-divider>

                                                <div fxLayout="row" fxAlign="center center" class="px-24 py-12">
                                                    <button type="button" class="mr-8" mat-button (click)="enableEditfg2 = !enableEditfg2">Annuler</button>
                                                    <button type="submit" mat-button class="light-blue-600 text-secondary" (click)="onSubmitfg2()">Enregistrer</button>
                                                </div>
                                            </div>
                                        </form>


                                </div>
                                <!-- /Contact -->

                                <!-- Position -->
                                <div class="card mat-card p-0 mb-24" >

                                        <!-- PREVIEW -->
                                        <div class="card-preview">
                                            <div class="light-blue-600">

                                                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                                    <!-- Heading -->
                                                    <div class="pr-16">
                                                        <div class="h1 font-weight-300">Position</div>
                                                    </div>
                                                    <!-- /Heading -->

                                                    <!-- Option Menu -->
                                                    <div *ngIf="!enableEditfg3 && !disableEditMode">
                                                        <button mat-icon-button [matMenuTriggerFor]="GIMenu" aria-label="more">
                                                            <mat-icon>more_vert</mat-icon>
                                                        </button>

                                                        <mat-menu #GIMenu="matMenu" >
                                                            <button mat-menu-item (click)="enableEditfg3 = !enableEditfg3">
                                                                <mat-icon>edit</mat-icon>
                                                                <span>Editer</span>
                                                            </button>
                                                        </mat-menu>
                                                    </div>
                                                    <!-- /Option Menu -->
                                                </div>

                                            </div>
                                        </div>
                                        <!-- / PREVIEW -->

                                        <form [formGroup]="fg3">

                                            <div class="p-24">

                                                <!-- Data Panel -->
                                                <div *ngIf="!enableEditfg3">
                                                    <div class="info-line">
                                                        <div class="title">Fonction</div>
                                                        <div class="info">{{(getJobProperty(selectedUser.job_id, "job_title") || "---" )  | titlecase  }}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Departement</div>
                                                        <div class="info">{{(selectedUser.departement_id == null ? "---" : getDepartementProperty(selectedUser.departement_id, "departement_name") ) | titlecase }}</div>
                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Rôle</div>
                                                        <div *ngIf="selectedUser.role_id != null  && selectedUser.role_id == 1; else other11">
                                                                Super Admin
                                                        </div>
                                                        <ng-template #other11>
                                                            <div class="info">{{(selectedUser.role_id == null ? "---" : getRoleProperty(selectedUser.role_id, "role_name") ) | titlecase}}</div>
                                                        </ng-template>

                                                    </div>
                                                    <div class="info-line">
                                                        <div class="title">Superieur</div>
                                                        <div class="info">{{(selectedUser.superior_id == null ? "---" : getUserProperty(selectedUser.superior_id, "last_name") ) | uppercase }}</div>
                                                    </div>
                                                </div>
                                                <!-- /Data Panel -->

                                                <!--Form Controls-->
                                                <div *ngIf="enableEditfg3" fxLayout="column">
                                                    <!--job_id-->
                                                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                        <mat-label>Fonction</mat-label>
                                                        <mat-select formControlName="job_id">
                                                        <mat-option  *ngFor="let job of jobs" [value]="job.id">
                                                            {{ job.job_title }}
                                                        </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <!--/job_id-->
                                                    <!--departement-->
                                                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4" [ngClass]="{'hidden': !allowEditDepartement}">
                                                        <mat-label>Departement</mat-label>
                                                        <mat-select formControlName="departement_id" required>
                                                        <mat-option  *ngFor="let dept of departements" [value]="dept.id">
                                                            {{ dept.departement_name }}
                                                        </mat-option>
                                                        </mat-select>
                                                        <mat-error>Departement est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/departement-->
                                                    <!--role-->
                                                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4" [ngClass]="{'hidden': !allowEditRole}">
                                                        <mat-label>Rôle</mat-label>
                                                        <mat-select formControlName="role_id" required>
                                                        <mat-option  *ngFor="let role of roles" [value]="role.id">
                                                            {{ role.role_name }}
                                                        </mat-option>
                                                        </mat-select>
                                                        <mat-error>le Rôle est obligatoir</mat-error>
                                                    </mat-form-field>
                                                    <!--/role-->
                                                    <!--superior-->
                                                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                        <mat-label>Superieur</mat-label>
                                                        <mat-select formControlName="superior_id">
                                                        <mat-option  [value]=""><b>---</b></mat-option>
                                                        <mat-option  *ngFor="let user of users" [value]="user.id">
                                                            <b>{{ user.last_name }}</b> {{ user.first_name }}
                                                        </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <!--/superior-->
                                                </div>
                                                <!--/Form Controls-->

                                            </div>

                                            <div *ngIf="enableEditfg3">
                                                <mat-divider></mat-divider>

                                                <div fxLayout="row" fxAlign="center center" class="px-24 py-12">
                                                    <button type="button" class="mr-8" mat-button (click)="enableEditfg3 = !enableEditfg3">Annuler</button>
                                                    <button type="submit" mat-button class="light-blue-600 text-secondary" (click)="onSubmitfg3()">Enregistrer</button>
                                                </div>
                                            </div>
                                        </form>


                                </div>
                                <!-- /Position -->




                        </div>

                        <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="35">
                            <!-- Compte -->
                            <div class="card mat-card p-0 mb-24">

                                    <!-- PREVIEW -->
                                    <div class="card-preview">
                                        <div class="light-blue-600">

                                            <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                                <!-- Heading -->
                                                <div class="pr-16">
                                                    <div class="h1 font-weight-300">Compte</div>
                                                </div>
                                                <!-- /Heading -->

                                                <!-- Option Menu -->
                                                <div *ngIf="!enableEditfg4 && !disableEditMode">
                                                    <button mat-icon-button [matMenuTriggerFor]="GIMenu" aria-label="more">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </button>

                                                    <mat-menu #GIMenu="matMenu">
                                                        <button mat-menu-item (click)="enableEditfg4 = !enableEditfg4">
                                                            <mat-icon>edit</mat-icon>
                                                            <span>Editer</span>
                                                        </button>
                                                        <div *ngIf="showEnableAndDesibaleAccount">
                                                            <button mat-menu-item *ngIf="selectedUser.disabled" (click)="ondisableAccount(0)" >
                                                                <mat-icon>how_to_reg</mat-icon>
                                                                <span>Activer ce compte</span>
                                                            </button>
                                                            <button mat-menu-item *ngIf="!selectedUser.disabled" (click)="ondisableAccount(1)" >
                                                                <mat-icon>close</mat-icon>
                                                                <span>Désactiver ce compte</span>
                                                            </button>
                                                        </div>
                                                        <button mat-menu-item (click)="oneditPassword()">
                                                            <mat-icon>vpn_key</mat-icon>
                                                            <span>Modifier le mot de passe</span>
                                                        </button>
                                                    </mat-menu>
                                                </div>
                                                <!-- /Option Menu -->
                                            </div>

                                        </div>
                                    </div>
                                    <!-- / PREVIEW -->

                                    <form [formGroup]="fg4">

                                        <div class="p-24">

                                            <!-- Data Panel -->
                                            <div *ngIf="!enableEditfg4">
                                                <div class="info-line">
                                                    <div class="title">Nom d'utilisateur</div>
                                                    <div class="info">{{selectedUser.login}}</div>
                                                </div>
                                                <div class="info-line">
                                                    <div class="title">Email</div>
                                                    <div class="info">{{selectedUser.email}}</div>
                                                </div>
                                                <div class="info-line">
                                                    <div class="title">Mot de passe (cryptée)</div>
                                                    <div class="info">{{selectedUser.password}}</div>
                                                </div>
                                                <div class="info-line">
                                                    <div class="title">Créé à</div>
                                                    <div class="info">{{selectedUser.created_at | date }}</div>
                                                </div>
                                                <div class="info-line">
                                                    <div class="title">Dernière connexion</div>
                                                    <div class="info orange-500-fg">{{selectedUser.last_login | date:'medium'}} </div>
                                                </div>


                                                <mat-divider class="my-16"></mat-divider>

                                                <div class="account-status" fxLayout="row wrap" fxAlign="start center" fxGape="8px">


                                                    <span class="teal-500-fg mr-4 flag" *ngIf="selectedUser.is_verified === 1">Vérifié</span>
                                                    <span class="teal-500-fg mr-4 flag" *ngIf="selectedUser.disabled === 0">Activée</span>
                                                    <span class="red-500-fg mr-4 flag flag" *ngIf="selectedUser.is_verified === 0">Non vérifié</span>
                                                    <span class="red-500-fg mr-4 flag flag" *ngIf="selectedUser.disabled === 1">Désactivée</span>

                                                </div>
                                            </div>


                                            <!-- /Data Panel -->

                                            <!--Form Controls-->
                                            <div *ngIf="enableEditfg4" fxLayout="column">
                                                <!--login-->
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Login</mat-label>
                                                    <input matInput formControlName="login" required>
                                                    <mat-icon matSuffix class="secondary-text">account_box</mat-icon>
                                                    <mat-error>Login est obligatoir</mat-error>
                                                </mat-form-field>
                                                <!--/login-->
                                                <!--email-->
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Email</mat-label>
                                                    <input matInput formControlName="email" required type="email">
                                                    <mat-icon matSuffix class="secondary-text">alternate_email</mat-icon>
                                                    <mat-error>Vous devez entrer un email valide</mat-error>
                                                </mat-form-field>
                                                <!--/email-->
                                            </div>
                                            <!--/Form Controls-->

                                        </div>

                                        <div *ngIf="enableEditfg4">
                                            <mat-divider></mat-divider>

                                            <div fxLayout="row" fxAlign="center center" class="px-24 py-12">
                                                <button type="button" class="mr-8" mat-button (click)="enableEditfg4 = !enableEditfg4">Annuler</button>
                                                <button type="submit" mat-button class="light-blue-600 text-secondary" (click)="onSubmitfg4()">Enregistrer</button>
                                            </div>
                                        </div>
                                    </form>


                            </div>
                            <!-- /Compte -->
                        </div>

                    </div>

                </mat-tab>

                <!-- <div *ngIf="!hideEditPermissions"> -->
                <mat-tab label="Droits d'accès">
                    <div class="p-24">
                        <!-- ----------------------------------------- -->




                            <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="16px">


                            <div fxLayout="row" fxLayoutAlign="start">
                                <div fxLayout="row wrap" *ngIf="selectedUser.rights_depending == 0">
                                    <span class="text-secondary">Statiquement droits d'accès définies pour vous</span>
                                </div>
                                <div fxLayout="row wrap" *ngIf="selectedUser.rights_depending == 1">



                                    <span class="text-secondary">Vous avez des droits d'accès basées sur le rôle <span class="font-weight-600 h4 blue-500-fg flag">
                                        <span *ngIf="selectedUser.role_id != null  && selectedUser.role_id == 1; else other11">
                                                Super Admin
                                        </span>
                                        <ng-template #other11>
                                            {{getRoleProperty(selectedUser.role_id, "role_name")}}
                                        </ng-template>
                                    </span></span>
                                </div>
                                <div fxLayout="row wrap" *ngIf="selectedUser.rights_depending == 2">
                                    <span class="text-secondary">Vous avez des droits d'accès basées sur le département <span class="font-weight-600 h4 orange-500-fg flag">{{getDepartementProperty(selectedUser.departement_id, "departement_name")}}</span></span>
                                </div>
                            </div>


                            <div *ngIf="!hideEditPermissions">
                                <div>
                                    <a class="cursor-pointer" (click)="showEditRightsDependingOnInput = !showEditRightsDependingOnInput">
                                        <span *ngIf="!showEditRightsDependingOnInput; else_content">Modifier la façon dont l'utilisateur a obtenu ses autorisations</span>
                                        <span #else_content>
                                            Annuler
                                        </span>
                                    </a>
                                </div>
                            </div>


                            <div *ngIf="showEditRightsDependingOnInput && !hideEditPermissions">

                                <form [formGroup]="fg5">
                                    <!--rights_depending-->
                                    <mat-form-field appearance="outline" class="w-99" >
                                        <mat-label>les droit d'accès en fonction de</mat-label>
                                        <mat-select formControlName="rights_depending" required (selectionChange)="edit_rights_depending($event.value)">
                                            <mat-option [value]="'0'">
                                                Défini statiquement
                                            </mat-option>
                                            <mat-option [value]="'1'">
                                                Basé sur le rôle
                                            </mat-option>
                                            <mat-option [value]="'2'">
                                                Basé sur le département
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Ce champ est obligatoir</mat-error>
                                    </mat-form-field>
                                    <!--/rights_depending-->
                                </form>

                            </div>



                        </div>

                        <!-- ----------------------------------------- -->


                        <div *ngIf="selectedUser.rights_depending == 0 && showEditRightsDependingOnInput">

                            <mat-accordion  >
                                <!-- Module -->
                                <mat-expansion-panel *ngFor="let module of module_rights; let i = index" [expanded]="i == 0 ? true : false">
                                    <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <b>{{ getModuleProperty(module.module_id, 'module_name') }}</b>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span>
                                            <span class="cursor-pointer a-hovered-style p-8 pr-0" (click)="setRightTo(module.module_id, $event)">Tout</span> /
                                            <span class="cursor-pointer a-hovered-style p-8 pl-0" (click)="unsetRightTo(module.module_id, $event)">Aucun</span>
                                        </span>
                                    </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div  class="accent-700-fg">
                                        <p class="primary-A200-fg mb-12">{{ getModuleProperty(module.module_id, 'description') }}</p>
                                    </div>
                                    <div  *ngFor="let right of module.rights; let i = index" >
                                    <div *ngIf="i == 0" fxLayout="row" fxLayoutAlign="start center" class="mb-8 w-99">
                                        <b fxFlex="0 0 25%">Label</b>
                                        <b fxFlex="0 0 15%">Etat</b>
                                        <b fxFlex="0 0 15%">Action</b>
                                        <b fxFlex="0 0 35%">Description</b>
                                        <!-- <b fxFlex="0 0 10%">Obtenu de</b> -->
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div fxLayout="row" fxLayoutAlign="start center" class="mb-8 w-99">
                                        <p fxFlex="0 0 25%" fxLayoutAlign="start">{{ getRightProperty(right.key, 'right_name') }}</p>
                                        <p fxFlex="0 0 15%" fxLayoutAlign="start" class="teal-600-fg p-4" *ngIf="right.value == 1"><mat-icon>check</mat-icon></p>
                                        <p fxFlex="0 0 15%" fxLayoutAlign="start" class="red-600-fg p-4" *ngIf="right.value == 0"><mat-icon>close</mat-icon></p>
                                        <p fxFlex="0 0 15%" fxLayoutAlign="start" *ngIf="right.value == 1" (click)="right.value = 0" class="p-2 cursor-pointer"><mat-icon style="line-height: 1.6;">maximize</mat-icon></p>
                                        <p fxFlex="0 0 15%" fxLayoutAlign="start" *ngIf="right.value == 0" (click)="right.value = 1" class="p-2 cursor-pointer"><mat-icon>add</mat-icon></p>
                                        <p fxFlex="0 0 35%" fxLayoutAlign="start">{{ getRightProperty(right.key, 'description') }}</p>
                                        <!-- <div fxFlex="0 0 10%" fxLayoutAlign="start">
                                            <div fxLayout="column" fxLayoutAlign="center center">
                                                <div *ngIf="rightBelongsTo(right.key)['0'] === 1" class=" w-12 h-12 teal-500-bg m-4 ">

                                                </div>
                                                <div *ngIf="rightBelongsTo(right.key)['1'] === 1" class=" w-12 h-12 blue-500-bg m-4 ">

                                                </div>
                                                <div *ngIf="rightBelongsTo(right.key)['2'] === 1" class=" w-12 h-12 orange-500-bg m-4 ">

                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                    </div>

                                </mat-expansion-panel>
                                <!-- Module -->
                            </mat-accordion>

                            <br>

                            <div style="text-align:end;">
                                <button  mat-raised-button color="primary" aria-label="update" (click)="onUpdateRules()">Mise à jour les règles</button>
                            </div>
                        </div>

                    </div>
                </mat-tab>
                <!-- </div> -->

                <mat-tab label="Fichier joint">

                </mat-tab>



            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
