@import "src/@fuse/scss/fuse";
:host {
    width: 100%;
}


.dialog-dialog-container .mat-dialog-container {
    padding: 0px !important;
}

#profile {

    .header {
        min-height: 200px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }

            
        }

        .img_area {
            position: relative;
            .options-menu {
                position: absolute;
                bottom: -6px;
                left: -17px;
                border: 1px solid white;
                padding: 0;
                margin: 0;
                line-height: 0;
                border-radius: 11px;
                width: 32px;

                &__button {
                    background: transparent;
                    border: none;
                    color: whitesmoke;
                }
            }

        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}


.info-line {
    margin-bottom: 24px;
  }
  
  .info-line .title {
    font-size: 15px;
    font-weight: 600;
    padding-bottom: 4px;
  }
  
  .info-line:last-child {
    margin-bottom: 0;
  }

  .hidden {
    display: none;
}

  .cursor-pointer {cursor: pointer !important; }

.a-hovered-style:hover {
  text-decoration: underline;
}