<div *ngIf="_authService.hasRight('consulter', 1); else else183xsd4g" >
  <mat-card class="p-0 m-0">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">
        <!-- role_name Column -->
        <ng-container matColumnDef="role_name">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header>
            <input matInput placeholder="Role" class="header-input" [(ngModel)]="f.role_name" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </th>
          <td class="font-weight-600" mat-cell *matCellDef="let row">
            <div fxLayout="row" fxLayoutGap="8px" fxAlign="center center">
              <div *ngIf="row.role_name == 'super admin'">
                <mat-icon class="amber-fg mat-icon ng-tns-c77-140 material-icons mat-icon-no-color" role="img" aria-hidden="true">star</mat-icon>
              </div>
            <span style="line-height: 28px;">{{row.role_name | titlecase}} </span>
          </div>
        </td>
        </ng-container>
        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header style="max-width: 600px;">
            <input matInput placeholder="Description" class="header-input" [(ngModel)]="f.description" (keyup)="super_filter()" (click)="$event.stopPropagation();">
          </th>
          <td mat-cell *matCellDef="let row" style="max-width: 600px;"> {{row.description || "---" }} </td> 
        </ng-container>
        <!-- created_at Column -->
        <ng-container matColumnDef="created_at">
          <th class="th-1" mat-header-cell  *matHeaderCellDef mat-sort-header> Créé à
            <mat-icon [matMenuTriggerFor]="menu1688shflmkj" (click)="$event.stopPropagation()">keyboard_arrow_down</mat-icon>
            <mat-menu #menu1688shflmkj >
              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <mat-form-field floatLabel="always" >
                  <input matInput #fromInput [matDatepicker]="picker" placeholder="DU" [(ngModel)]="f.created_at.du">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <br>

              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <mat-form-field floatLabel="always" >
                  <input matInput #toInput  [matDatepicker]="picker1" placeholder="À" [(ngModel)]="f.created_at.a">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>

              <div mat-menu-item mat-filter-item [disableRipple]="true">
                <button mat-raised-button (click)="clear()">Vider</button>
                <button mat-raised-button class="blue-900-bg" color="primary" (click)="super_filter()">Filtrer</button>
              </div>
            </mat-menu>
          </th>
          <td mat-cell *matCellDef="let row"> {{ formatDate(row.created_at, "YYYY-MM-DD H:m:s", "YYYY-MM-DD")}} </td>
        </ng-container>
        <!-- Buttons Column -->
        <ng-container matColumnDef="buttons">
          <th class="th-1" mat-header-cell  *matHeaderCellDef ></th>
          <td mat-cell *matCellDef="let row">
  
            <div  *ngIf="row.role_name != 'super admin' || row.id != 1">
              <div *ngIf="_authService.hasRight('ajouter et modifier un rôle', 1) || _authService.hasRight('supprimer un rôle', 1)">
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"(click)="$event.stopPropagation();"><mat-icon class="secondary-text">more_vert</mat-icon></button>
    
                <mat-menu #moreMenu="matMenu">
                  <button mat-menu-item aria-label="remove" (click)="onEditRole(row.id)" *ngIf="_authService.hasRight('ajouter et modifier un rôle', 1)">
                    <mat-icon>create</mat-icon>
                    <span>Editer</span>
                  </button>
                  <button mat-menu-item aria-label="remove" (click)="onDeleteRole(row)" *ngIf="_authService.hasRight('supprimer un rôle', 1) && row.total_users == 0">
                    <mat-icon class="font-weight-600 red-500-fg">delete</mat-icon>
                    <span class="font-weight-600 red-500-fg">Supprimer</span>
                  </button>
                </mat-menu>
              </div>
            </div>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator  #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"></mat-paginator>
      <div class="content p-16" *ngIf="_authService.hasRight('ajouter', 3 )">
        <a (click)="onAddRole()" class="cursor-pointer">Ajouter un nouveau role</a>
      </div>
  </mat-card>
</div>
<ng-template #else183xsd4g>
  <mat-card>
    <div class="mb-16">
      <b>Vous n'êtes pas autorisé à afficher la liste des Roles</b>
    </div>
    <div>
        Les utilisateurs ayant la capacité « INDEXER »:
        <br>
        <span class="ml-20" > &rArr; Les administrateurs peuvent effectuer cette action.</span>
    </div>
  </mat-card>
</ng-template>