<div id="login" fxLayout="column">

  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

      <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

          <div class="logo">
              <img src="assets/images/logos/effectus-230-57-noir.png">
          </div>

          <div class="title">Connectez-vous à votre compte</div>

          <div *ngIf="alert.hasError">
            <ng-container *ngIf="alert.success; then then11; else else11"></ng-container>
            <ng-template #then11>
                <p>{{alert.message}}</p>
            </ng-template>
            <ng-template #else11>
              <div class="px-8 mb-16 red-500-fg font-weight-600 tag" style="text-align: center;">
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="11px">
                  <mat-icon>error_outline</mat-icon>
                  <p> {{alert.message}}</p>
                </div>
              </div>
            </ng-template>
          </div>




          <form name="loginForm" [formGroup]="loginForm" novalidate >

              <mat-form-field appearance="outline">
                  <mat-label>Adresse e-mail ou identifiant</mat-label>
                  <input matInput formControlName="email">
                  <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                  <mat-error *ngIf="loginForm.get('email').hasError('required')">
                    Adresse e-mail ou identifiant est obligatoire
                  </mat-error>
                  <!-- <mat-error
                      *ngIf="!loginForm.get('email').hasError('required') &&
                              loginForm.get('email').hasError('email')">
                    S'il vous plaît, mettez une adresse email valide
                  </mat-error> -->
              </mat-form-field>

              <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" formControlName="password">
                  <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                  <mat-error>
                    Mot de passe est obligatoire
                  </mat-error>
              </mat-form-field>

              <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                   fxLayoutAlign="space-between center">
                  <mat-checkbox class="remember-me" aria-label="Remember Me">
                      Se souvenir de moi
                  </mat-checkbox>

                  <a class="forgot-password" [routerLink]="'/pages/auth/forgot-password'">
                      Mot de passe oublié?
                  </a>
              </div>

              <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                      [disabled]="loginForm.invalid" (click)="onLogin()">
                  CONNEXION
              </button>

          </form>

          <p style="color: #f08219b5; margin: 2.8rem 0 -10.1px 0; text-transform: capitalize; text-decoration: underline;font-size: 11px;">Effectus media Crm Copyright 2019 Tous droits réservés ©</p>

          <!-- <div class="separator">
              <span class="text">OR</span>
          </div> -->

          <!-- <button mat-raised-button class="google">
              Log in with Google
          </button>

          <button mat-raised-button class="facebook">
              Log in with Facebook
          </button>

          <div class="register" fxLayout="column" fxLayoutAlign="center center">
              <span class="text">Don't have an account?</span>
              <a class="link" [routerLink]="'/pages/auth/register'">Create an account</a>
          </div> -->

      </div>

  </div>

</div>
