<div class="vertical-stepper-wrapper" >

  <!-- VERTICAL STEPPER EXAMPLE -->
  <mat-vertical-stepper class="mat-elevation-z4" [linear]="false">

    <mat-step [stepControl]="fg1">

      <form fxLayout="column" [formGroup]="fg1">

        <ng-template matStepLabel>Informations personnelles</ng-template>
        

        <div fxFlex="1 0 auto" fxLayout="column">

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <!--first_name-->
            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="first_name">
              <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
              <mat-error>Prénom est obligatoire!</mat-error>
            </mat-form-field>
            <!--/first_name-->
            <!--last_name-->
            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
              <mat-label>Nom de famille</mat-label>
              <input matInput formControlName="last_name" required>
              <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
              <mat-error>Nom de famille est obligatoire!</mat-error>
            </mat-form-field>
            <!--/last_name-->
          </div>

          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <!--birth_day-->
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth_day">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <!--/birth_day-->
          <!--gender-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option [value]="'0'">
                Homme
              </mat-option>
              <mat-option [value]="'1'">
                Femme
              </mat-option>
            </mat-select>
            <mat-error>le Sexe est obligatoire!</mat-error>
          </mat-form-field>
          <!--/gender-->
          </div>

          <!--phone_number-->
          <mat-form-field appearance="outline">
            <mat-label>Numéro de téléphone</mat-label>
            <input matInput formControlName="phone_number">
            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
            <mat-error>Numéro de téléphone est obligatoire!</mat-error>
          </mat-form-field>
          <!--/phone_number-->

          <!--cin-->
          <mat-form-field appearance="outline">
            <mat-label>CIN</mat-label>
            <input matInput formControlName="cin" required>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-error>CIN est obligatoire!</mat-error>
          </mat-form-field>
          <!--/cin-->

          <!--address-->
          <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="address">
            <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
            <mat-error>Adresse est obligatoire!</mat-error>
          </mat-form-field>
          <!--/address-->

          <!--photo-->
          <div fxLayout="column" class="pb-16 pt-16" style="border: 1px solid rgba(0, 0, 0, 0.12); border-radius: 6px; margin-bottom: 16px;">
            <input type="file" id="photo"   onchange="$('#upload-file-info').html($(this).val().split('\\').reverse()[0]);">
            <!-- <span class="accent-700-fg" id="upload-file-info"></span> -->
          </div>
          <!--/photo-->

        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button matStepperNext type="button" color="accent">
            Suivant <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="fg2">

      <form fxLayout="column" [formGroup]="fg2">

        <ng-template matStepLabel>Identifiant de connexion</ng-template>

        <div fxFlex="1 0 auto" fxLayout="column" class="mt-12">

          <!--login-->
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Login</mat-label>
            <input matInput formControlName="login" required>
            <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
            <mat-error>Login est obligatoire!</mat-error>
          </mat-form-field>
          <!--/login-->
          <!--email-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required type="email">
            <mat-icon matSuffix class="secondary-text">alternate_email</mat-icon>
            <mat-error> Vous devez entrer un email valide </mat-error>
          </mat-form-field>
          <!--/email-->
          <!--password-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Mot de passe</mat-label>
            <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>Mot de passe est obligatoire!</mat-error>
          </mat-form-field>
          <!--/password-->


        </div>


        <div fxLayout="row" fxLayoutAlign="end center">
          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
            Précédente
          </button>
          <button mat-raised-button matStepperNext type="button" color="accent">
            Suivant <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="fg3">

      <form fxLayout="column" [formGroup]="fg3">

        <ng-template matStepLabel>Départements et positions</ng-template>

        <div fxFlex="1 0 auto" fxLayout="column">

          <!--departement-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Département</mat-label>
            <mat-select formControlName="departement_id" required>
              <mat-option  *ngFor="let dept of departements" [value]="dept.id">
                {{ dept.departement_name }}
              </mat-option>
            </mat-select>
            <mat-error>Département est obligatoire!</mat-error>
          </mat-form-field>
          <!--/departement-->

          <!--superior-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Supérieur</mat-label>
            <mat-select formControlName="superior_id" required>
              <mat-option  *ngFor="let user of users" [value]="user.id">
                <b>{{ user.last_name }}</b> {{ user.first_name }}
              </mat-option>
            </mat-select>
            <mat-error>Supérieur est obligatoire!</mat-error>
          </mat-form-field>
          <!--/superior-->

          <!--job_id-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Fonction</mat-label>
            <mat-select formControlName="job_id" required>
              <mat-option  *ngFor="let job of jobs" [value]="job.id">
                {{ job.job_title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--/job_id-->



        </div>


        <div fxLayout="row" fxLayoutAlign="end center">
          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
            Précédente
          </button>
          <button mat-raised-button matStepperNext type="button" color="accent">
            Suivant <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="fg4">

      <form fxLayout="column" [formGroup]="fg4">

        <ng-template matStepLabel>Rôle et droits</ng-template>

        <div fxFlex="1 0 auto" fxLayout="column" class="mt-12">

          <!--rights_depending-->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Droits d'acces en fonction de</mat-label>
            <mat-select formControlName="rights_depending" required (selectionChange)="onRDChanged()">
              <mat-option [value]="'0'">Défini statiquement</mat-option>
              <mat-option [value]="'1'">Basé sur le rôle</mat-option>
              <mat-option [value]="'2'">Basé sur le département</mat-option>
            </mat-select>
            <mat-error>Ce champ est obligatoire!</mat-error>
            <mat-hint>Sélectionner la manière dont l'utilisateur prend ses droits</mat-hint>
          </mat-form-field>
          <!--/rights_depending-->



          <div *ngIf="rights_depending == 1">
            <mat-form-field appearance="outline" fxFlex="50" class="pl-4" >
              <mat-label>Rôle</mat-label>
              <mat-select formControlName="role_id" required>
                <mat-option  *ngFor="let role of roles" [value]="role.id" >
                  {{ role.role_name }}
                </mat-option>
              </mat-select>
              <mat-error>Role est obligatoire!</mat-error>
            </mat-form-field>
          </div>

          <div *ngIf="rights_depending == 0" class="mt-20 mb-20">
            <mat-accordion >
              <mat-expansion-panel *ngFor="let module of module_rights; let i = index" [expanded]="i == 0 ? true : false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ getModuleProperty(module.module_id, 'module_name') }}
                  </mat-panel-title>
                  <mat-panel-description>
                    <span class="accent-700-fg">
                      <span class="cursor-pointer a-hovered-style p-8 pr-0" (click)="setRightTo(module.module_id, $event)">Tout</span> /
                      <span class="cursor-pointer a-hovered-style p-8 pl-0" (click)="unsetRightTo(module.module_id, $event)">Aucun</span>
                    </span>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p class="primary-A200-fg mb-12">{{ getModuleProperty(module.module_id, 'description') }}</p>

                <div  *ngFor="let right of module.rights; let i = index" >
                  <div *ngIf="i == 0" fxLayout="row" fxLayoutAlign="start center" class="mb-8 w-99">
                    <b fxFlex="0 0 25%">Label</b>
                    <b fxFlex="0 0 15%">Statut</b>
                    <b fxFlex="0 0 15%">Action</b>
                    <b fxFlex="0 0 45%">Description</b>
                  </div>
                  <mat-divider></mat-divider>
                  <div fxLayout="row" fxLayoutAlign="start center" class="mb-8 w-99">
                    <p fxFlex="0 0 25%" fxLayoutAlign="start">{{ getRightProperty(right.key, 'right_name') }}</p>
                    <p fxFlex="0 0 15%" fxLayoutAlign="start" class="teal-600-fg p-4" *ngIf="right.value == 1"><mat-icon>check</mat-icon></p>
                    <p fxFlex="0 0 15%" fxLayoutAlign="start" class="red-600-fg p-4" *ngIf="right.value == 0"><mat-icon>close</mat-icon></p>
                    <p fxFlex="0 0 15%" fxLayoutAlign="start" *ngIf="right.value == 1" (click)="right.value = 0" class="p-2 cursor-pointer"><mat-icon style="line-height: 1.6;">maximize</mat-icon></p>
                    <p fxFlex="0 0 15%" fxLayoutAlign="start" *ngIf="right.value == 0" (click)="right.value = 1" class="p-2 cursor-pointer"><mat-icon>add</mat-icon></p>
                    <p fxFlex="0 0 45%" fxLayoutAlign="start">{{ getRightProperty(right.key, 'description') }}</p>
                  </div>
                </div>

              </mat-expansion-panel>
            </mat-accordion>
          </div>


        </div>


        <div fxLayout="row" fxLayoutAlign="end center">
          <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
            Précédente
          </button>
          <button mat-raised-button type="button" color="accent" (click)="finishVerticalStepper()">
            Enregistrer
          </button>
        </div>

      </form>

    </mat-step>

  </mat-vertical-stepper>
  <!-- / VERTICAL STEPPER EXAMPLE -->

</div>