<div id="partner" class="page-layout carded fullwidth inner-scroll">
  <div class="top-bg accent"></div>
  <!-- CENTER -->
  <div class="center">
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <div class="ng-tns-c39-37" fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" (click)="backClicked()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="partner-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          <img  [src]="'assets/images/ecommerce/product-image-placeholder.png'">
        </div>

        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">

          <span class="h2" *ngIf="pageType === 'edit'">
              <span *ngIf="partner.nom != undefined && partner.nom != null; else elqsdjgmlmahzgd">{{ partner.nom }}</span>
              <ng-template #elqsdjgmlmahzgd>---</ng-template>
          </span>
          <span class="h2" *ngIf="pageType === 'new'">
              Nouveau Visiteur
          </span>
          <div class="subtitle secondary-text"><span>Détails de visiteur</span></div>
        </div>
      </div>
      <!-- / APP TITLE -->

      <button mat-raised-button
              *ngIf="pageType ==='edit'"
              (click)="oneditPartner()"
              class="mat-icon-button" matTooltip="Enregistrer">
        <mat-icon class="accent-700-fg">save</mat-icon>
      </button>


    </div>
    <div class="content-card" pageType="new">
      <div class="content">
        <form  [formGroup]="myform"  class="partner w-100-p" fxLayout="column" fxFlex>

          <mat-tab-group>
            <mat-tab label="Fiche">
              <div class="tab-content p-24" fusePerfectScrollbar>


                <!--type-->
                <div class="m-12 mb-24">
                  <mat-radio-group fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center" formControlName="type">
                    <mat-radio-button [value]="1">Appelant</mat-radio-button>
                    <mat-radio-button [value]="2">Visiteur</mat-radio-button>
                  </mat-radio-group>
                </div>
                <!--nom-->
                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Nom</mat-label>
                  <input matInput placeholder="Nom" formControlName="nom" required>
                </mat-form-field>
                <!--prenom-->
                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Prénom</mat-label>
                  <input matInput placeholder="Prénom" formControlName="prenom" required>
                </mat-form-field>
                <!--telephone-->
                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Téléphone</mat-label>
                  <input matInput placeholder="Téléphone" formControlName="telephone" required>
                </mat-form-field>
                <!--email-->
                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>E-mail</mat-label>
                  <input matInput type="email" placeholder="E-mail" formControlName="email" required>
                </mat-form-field>
                <!--ville-->

                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Pays </mat-label>
                  <mat-select placeholder="Sélectionner le Pays" formControlName="pays" (selectionChange)="onCountryChanged($event.value)" (openedChange)="count.focus()" >
                    <input class="myInput" #count matInput focused="'true'" type="text" (keyup)="searchPays(count.value)" autocomplete="off" placeholder="search" style="padding: 15px;position:relative">
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let country of filterdCountries" [value]="country.id">{{country.name}}</mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Ville </mat-label>
                  <mat-select placeholder="Sélectionner une Ville" formControlName="ville" (openedChange)="city.focus()" >
                    <input class="myInput" #city matInput focused="'true'" type="text" (keyup)="searchVille(city.value)" autocomplete="off" placeholder="search" style="padding: 15px;position:relative">
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let city of filterdVilles" [value]="city.id">{{city.nom}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!--project_id-->
                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Projet</mat-label>
                  <mat-select placeholder="Sélectionner un projet"  (openedChange)="project.focus()" formControlName="project_id">
                    <input #project matInput type="text" (keyup)="searchProject(project.value)" autocomplete="off" placeholder="search" style="padding: 15px">
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let project of filterdProjects" [value]="project.id">{{project.nom}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <!--source-->

                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-100-p">
                  <mat-label>Source</mat-label>
                  <mat-select placeholder="Sélectionner une source"  (openedChange)="sour.focus()" formControlName="source">
                    <input matInput #sour type="text" (keyup)="searchSource(sour.value)" autocomplete="off" placeholder="Source" style="padding: 15px">
                    <mat-divider></mat-divider>
                    <mat-option *ngFor="let source of filterdSources" [value]="source.id">{{source.nom}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <!--<mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">-->
                  <!--<mat-label>Source</mat-label>-->
                  <!--<input matInput placeholder="Source" formControlName="source" required>-->
                <!--</mat-form-field>-->
                <!--&lt;!&ndash;visite_prochaine_prevu&ndash;&gt;-->
                <!--<div class="pr-4 w-100-p" fxLayout="row" fxLayoutAlign="center">-->
                  <!--<mat-slide-toggle (change)="toggleChange($event)" formControlName="visite_prochaine_prevu" >Visite Prochaine Prévue!</mat-slide-toggle>-->
                <!--</div>-->

                <!--&lt;!&ndash;date time&ndash;&gt;-->
                <!--<mat-form-field  style="display: none"  id="date_selected" appearance="outline" floatLabel="always" class="pr-4 w-100-p">-->
                  <!--<input matInput  formControlName="next_visite" [matDatepicker]="picker" placeholder="choisir une date">-->
                  <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
                  <!--<mat-datepicker #picker></mat-datepicker>-->
                <!--</mat-form-field>-->

                <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 27px;" fxLayoutGap="10px">

                <button mat-raised-button
                        *ngIf="pageType === 'new'"
                        (click)="onaddPartner()"
                         matTooltip="Enregistrer">
                  <mat-icon class="accent-700-fg">save</mat-icon>
                  Enregistrer
                </button>
                </div>


              </div>
            </mat-tab>
          </mat-tab-group>
        </form>
      </div>
    </div >


  </div>
</div>
