
<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
          <span class="title dialog-title">{{dialogTitle}}</span>
          <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="right.right_name" class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
          <div class="right-name mt-8">{{right.right_name}}</div>
      </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

      <form [formGroup]="rightForm">

          <div fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Label</mat-label>
                  <input name="right_name" formControlName="right_name" matInput required>
              </mat-form-field>
          </div>

          
          <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
              <mat-form-field appearance="outline" fxFlex>
                  <mat-label>Description</mat-label>
                  <textarea name="description" formControlName="description" matInput type="text" max-rows="7"></textarea>
              </mat-form-field>
          </div>

          <!--module_id-->
          <div fxLayout="row" fxLayoutAlign="start start">
            <div fxFlex="1 0 auto">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Module</mat-label>
              <mat-select formControlName="module_id" required>
                <mat-option  *ngFor="let module of modules" [value]="module.id">
                  {{ module.module_name }}
                </mat-option>
              </mat-select>
              <mat-error>Module est obligatoire</mat-error>
            </mat-form-field>
          </div>
          </div>
          <!--/module_id-->

            
          
      </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

      <button *ngIf="action === 'edit'"
              mat-button
              class="mr-8"
              (click)="matDialogRef.close(['delete',rightForm])"
              aria-label="Delete"
              matTooltip="Delete">
          SUPPRIMER
      </button>

      <button *ngIf="action !== 'edit'"
              mat-button
              class="save-button"
              (click)="matDialogRef.close(rightForm)"
              [disabled]="rightForm.invalid"
              aria-label="SAVE">
          AJOUTER
      </button>

      <button *ngIf="action === 'edit'"
              mat-button
              class="save-button"
              (click)="matDialogRef.close(['save',rightForm])"
              [disabled]="rightForm.invalid"
              aria-label="SAVE">
            ENREGISTRER
      </button>

  </div>
</div>
