  <div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
      <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span class="title dialog-title">{{dialogTitle}}</span>
        <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <!-- BODY -->
    

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar *ngIf="action === 'EditPassword'">
        <form [formGroup]="fg1">

          <div fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center center">

            <!-- current_password --> 
            <mat-form-field appearance="outline" class="w-99 m-0">
              <mat-label>Mot de passe actuel</mat-label>
              <input id="current_password" name="current_password" formControlName="current_password"required [type]="hide_current ? 'password' : 'text'"  matInput required>
              <mat-icon matSuffix (click)="hide_current = !hide_current">{{hide_current ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>Ce champ est obligatoire!</mat-error>  
            </mat-form-field>
            <!-- /current_password --> 

            <!-- new_password --> 
            <mat-form-field appearance="outline" class="w-99 m-0">
              <mat-label>Nouveau mot de passe</mat-label>
              <input id="new_password" name="new_password" formControlName="new_password"required [type]="hide_new ? 'password' : 'text'"  matInput required>
              <mat-icon matSuffix (click)="hide_new = !hide_new">{{hide_new ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error>Ce champ est obligatoire!</mat-error>
            </mat-form-field>
            <!-- /new_password --> 

          </div>
        </form>
      </div>
    <!-- /BODY -->

    <!-- FOOTER -->
    <div *ngIf="action == 'EditPassword'">
      <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
        <button *ngIf="action === 'EditPassword'"
          mat-button
          class="save-button accent"
          (click)="requestEditPassword()"
          aria-label="SAVE">
          ENREGISTRER
          <!-- [disabled]="brandForm.invalid" -->
        </button>
      </div>
    </div>
    <!-- /FOOTER -->
    
  </div>
