
<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row *ngIf="module.module_name" class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <div class="module-name mt-8">{{module.module_name}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="moduleForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Label</mat-label>
                    <input name="module_name" formControlName="module_name" matInput required>
                </mat-form-field>
            </div>
            
            <div fxLayout="row" class="textarea-wrapper" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Description</mat-label>
                    <textarea name="description" formControlName="description" matInput type="text" max-rows="7"></textarea>
                </mat-form-field>
            </div>
            
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',moduleForm])"
                aria-label="Delete"
                matTooltip="Delete">
            SUPPRIMER
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(moduleForm)"
                [disabled]="moduleForm.invalid"
                aria-label="SAVE">
            AJOUTER
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',moduleForm])"
                [disabled]="moduleForm.invalid"
                aria-label="SAVE">
              ENREGISTRER
        </button>

    </div>
</div>
