<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
    <p>What's your favorite animal?</p>
    <form name="dialog validation" [formGroup]="appelForm" class="product w-100-p" fxLayout="column" fxFlex>

    <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="E-mail" formControlName="email" required>
    </mat-form-field>


    <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
        <mat-label>Ville </mat-label>
        <mat-select placeholder="Sélectionner une Ville" formControlName="ville" (openedChange)="city.focus()" >
            <input class="myInput" #city matInput focused="'true'" type="text" (keyup)="searchVille(city.value)" autocomplete="off" placeholder="search" style="padding: 15px;position:relative">
            <mat-divider></mat-divider>
            <mat-option *ngFor="let city of filterdVilles" [value]="city.id">{{city.nom}}</mat-option>
        </mat-select>
    </mat-form-field>

    </form>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>