<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">
            <span class="title dialog-title">Client</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactClient" >

            <div fxLayout="row" fxLayoutAlign="start start" style="display: flex">
                <mat-form-field appearance="outline" fxFlex style="flex: 1 1 0%">
                    <mat-label>Num Appartement *</mat-label>
                    <input placeholder="Num Appartement *" formControlName="article_id" value="" #article_id matInput required>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="pr-sm-8" fxFlex="50">
                <mat-label>La date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" name="start" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button (click)="onNoClick()">Annuler</button>

        <button
                mat-button
                class="save-button"
                (click)="onSubmitClient()"
                [disabled]="contactClient.invalid"
                aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>


</body>
</html>
