<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">
            <span class="title dialog-title">Client Perdu</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="contactPerdu" >

            <div fxLayout="row" fxLayoutAlign="start start" style="display: flex">
                <mat-form-field appearance="outline" fxFlex style="flex: 1 1 0%">
                    <mat-label>Motif *</mat-label>
                    <input placeholder="Motif *" formControlName="object" value="" #object matInput required>
                </mat-form-field>
            </div>


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button mat-button (click)="onNoClick()">Annuler</button>

        <button
                mat-button
                class="save-button"
                (click)="onSubmitPerdu()"
                [disabled]="contactPerdu.invalid"
                aria-label="SAVE">
            SAVE
        </button>


    </div>
</div>




</body>
</html>
