<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/partners'">
          <mat-icon>arrow_back</mat-icon>
        </button>


        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{partner.nom}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
               Nouveau prospet
          </div>
          <div class="subtitle secondary-text">
            <span>partner Detail</span>
          </div>
        </div>
      </div>

      <!--<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="mt-16">-->
        <!--&lt;!&ndash;<mat-icon class="mat-icon  material-icons mat-icon-no-color cursor-pointer " role="img" aria-hidden="true" *ngIf="breadcrumb.goBackBtn" (click)="goBack()">arrow_back</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="h2"> {{breadcrumb.big_header}} </div>&ndash;&gt;-->

        <!--<button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md-->
                <!--(click)="toggleSidebar('simple-right-sidebar-4')">-->
          <!--<mat-icon>menu</mat-icon>-->
        <!--</button>-->
      <!--</div>-->
      <!--&lt;!&ndash; / APP TITLE &ndash;&gt;-->

      <button mat-raised-button
              *ngIf="pageType ==='new'"
              (click)="onSubmit()"
              class="mat-icon-button" matTooltip="Ajouter">
        <mat-icon class="accent-700-fg">add</mat-icon>
      </button>

      <button mat-raised-button
              *ngIf="pageType ==='edit'"
              class="mat-icon-button" matTooltip="Enregistrer"
              (click)="onUpdate(product.id,product.code_product,reference.value,label.value,toBuy.value,toSell.value,description.value,description_facture.value,marque.value,provider_id.value,category_id.value,weight.value,weight_unit.value,width.value,width_unit.value,height.value,height_unit.value,surface.value,surface_unit.value,volume.value,volume_unit.value,seuil_stock_alert.value)">
        <mat-icon class="accent-700-fg">save</mat-icon>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <!-- SIDEBAR -->
        <mat-card>
          <mat-accordion  class="w-100-p">
            <!-- users -->
              <div class="tab-content" >

              <mat-expansion-panel style="float: left" class="pr-4 w-45-p" [expanded]="target == 'users'" *ngIf="this._authService.hasRight('consulter', 1) || this._authService.hasRight('ajouter et modifier un utilisateur', 1)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="mr-4 red-500-fg">group</mat-icon>
                  Information sur le prospect
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-action-list>
                <style>
                  .demo-list-item {
                    width: 300px;
                  }
                </style>

                <ul class="demo-list-item mdl-list">
                  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Email : {{ partner.email}}
    </span>
                    <!--<span class="green-500-fg p-4 flag" *ngIf="partner.statut =='2'" > Procepect </span>-->

                  </li>
                  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
     Telephone : {{ partner.mobile}}
    </span>
                  </li>
                  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
     Visite prochaine prévu:
    </span>
                  </li>
                </ul>
                <div fxLayout="row" fxLayoutAlign="center">
                  <mat-slide-toggle (change)="toggleChange($event)" >Visite Prochaine Prévue!</mat-slide-toggle>
                </div>
                <!--date time-->
                <mat-form-field style="display: none;" id="date_selected" appearance="outline" floatLabel="always" >
                  <input matInput  formControlName="next_visite" [matDatepicker]="picker" placeholder="choisir une date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


                <!--<button mat-list-item (click)="navigate('users', 'list')" *ngIf="this._authService.hasRight('consulter', 1)"> <mat-icon>dehaze</mat-icon> List des utilisateurs </button>-->
                <!--<div *ngIf="this._authService.hasRight('ajouter et modifier un utilisateur', 1)">-->
                <!--<mat-divider></mat-divider>-->
                <!--</div>-->
              </mat-action-list>
            </mat-expansion-panel>

              <mat-expansion-panel class="pr-4 w-50-p" [expanded]="target == 'users'" *ngIf="this._authService.hasRight('consulter', 1) || this._authService.hasRight('ajouter et modifier un utilisateur', 1)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="mr-4 red-500-fg">markunread_mailbox</mat-icon>
                  Information liéer au projet
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-action-list>
                <style>
                  .demo-list-item {
                    width: 300px;
                  }
                </style>
<!--return back don't worry -->
                <div class="options-menu">
                  <button class="options-menu__button" [matMenuTriggerFor]="PRMenu" >
                      <span style="padding: 5px !important;" class="red-400-fg flag" >  <mat-icon class="mr-4" style="margin-top: 2px">person</mat-icon> {{ partner.nomS }}</span>
                  </button>

                  <mat-menu #PRMenu="matMenu">
                      <ul >
                          <li style="list-style:none;;" *ngFor="let statuof of status">
                              <button mat-raised-button (click)="openDialog(statuof.code)">{{statuof.nom}}</button>
                          </li>
                      </ul>

                    <!--<button mat-menu-item *ngIf="!noAvatar" (click)="deleteAvatar()">-->
                      <!--<mat-icon class="font-weight-600 red-500-fg">close</mat-icon>-->
                      <!--<span>Supprimer l'avatar actuel</span>-->
                    <!--</button>-->
                    <!--<button mat-menu-item (click)="triggerFinder()">-->
                      <!--<mat-icon class="accent-500-fg">cloud_upload</mat-icon>-->
                      <!--<span>Télécharger un nouvel avatar</span>-->
                    <!--</button>-->
                    <!--<input type="file" id="photo" class="hidden" (change)="handleFileInput($event.target.files)">-->
                  </mat-menu>
                </div>

<!--end of worrying -->


                <ul class="demo-list-item mdl-list">
                  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      Nom du Projet : {{ partner.project}}
    </span>
                    <!--<span class="green-500-fg p-4 flag" *ngIf="partner.statut =='2'" > Procepect </span>-->

                  </li>
                  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
     Client : {{ partner.nom  +' '+ partner.prenom}}
    </span>
                  </li>

                </ul>


              </mat-action-list>
            </mat-expansion-panel>

              </div>
          </mat-accordion>



        </mat-card>

          <!-- / SIDEBAR CONTENT -->

        <!-- / SIDEBAR -->



          <mat-tab-group class="col-md-8 col-sm-12">



            <mat-tab label="Historique">
              <mat-accordion>



                <mat-expansion-panel *ngFor="let partner of partnerDetail" [expanded]="target == 'users'">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>{{partner.action_type['source']}}</mat-icon>
                        {{partner.action_type["nom"]}}
                    <div style="width: 86%;">

                        <span style="margin-left: 10px;float: left" class="green-500-fg p-4 flag" *ngIf="partner.status['code'] =='2' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Client </span>
                        <span style="margin-left: 10px;float: left" class="lime-500-fg p-4 flag" *ngIf="partner.status['code'] =='1' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Prospect </span>
                        <span style="margin-left: 10px;float: left" class="red-500-fg p-4 flag" *ngIf="partner.status['code'] =='-1' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Perdu </span>
                        <span style="margin-left: 10px;float: left" class="cyan-500-fg p-4 flag" *ngIf="partner.status['code'] =='4' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> En négociation </span>
                        <span style="margin-left: 10px;float: left" class="orange-500-fg p-4 flag" *ngIf="partner.statut['code'] =='3' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Visiteur </span>
                        <span style="float: right;display: block;" >
                      date de creation : {{partner.created_at}}
                      </span>


                    </div>

                    </mat-panel-title>

                  </mat-expansion-panel-header>
                  <mat-action-list>
                    <style>
                      .demo-list-item {
                        width: 300px;
                      }
                    </style>
                      <div *ngIf="partner.type === -1">
                          <div *ngIf="partner.statut === -1">
                              <span>Motif : {{ partner.object }}</span>
                          </div>
                          <!--<div *ngIf="partner.statut === 4">-->
                              <!--<span>Motif : {{ partner.object }}</span>-->
                          <!--</div>-->
                          <div *ngIf="partner.statut === 3">
                              <span>Motif : {{ partner.object }}</span>
                          </div>
                          <div *ngIf="partner.statut === 2">
                              <span>Appartement N°: {{ partner.article_id }}</span><br>
                              <span>Date : {{ partner.date_planif }}</span>
                          </div>
                      </div>
                      <div *ngIf="partner.type === 1">
                          <span>Object : {{ partner.object }}</span><br>
                          <span>Observation : {{ partner.description }}</span>
                      </div>
                      <div *ngIf="partner.type === 2">
                          <span>Appartement visite : {{ partner.article_id }}</span><br>
                          <span>Budget: {{ partner.prix }}</span><br>
                          <span>Surface: {{ partner.quantite }}</span><br>
                          <span>Type: {{ partner.unite_id }}</span><br>
                          <span>Observation : {{ partner.description }}</span>
                      </div>
                      <div *ngIf="partner.type === 3">
                          <span>Object: {{ partner.object }}</span><br>
                          <span>Message : {{ partner.description }}</span>
                      </div>
                      <div *ngIf="partner.type === 4">
                          <span>Message : {{ partner.description }}</span>
                      </div>
                      <div *ngIf="partner.type === 5">
                          <span>Message : {{ partner.description }}</span>
                      </div>
                  </mat-action-list>
                </mat-expansion-panel>



              </mat-accordion>

            </mat-tab>


            <mat-tab label="Appel">
              <form name="AppelForm" [formGroup]="appelForm" class="product w-100-p" fxLayout="column" fxFlex>

                <div class="tab-content p-24" fusePerfectScrollbar>

                  <mat-panel-title>
                    <mat-icon class="mr-4 blue-500-fg">contact_phone</mat-icon>
                    Ajouter un appel
                  </mat-panel-title>
                  <br>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Objet</mat-label>

                    <input matInput placeholder="Object"
                           name="object"
                           formControlName="object"
                           required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Observation</mat-label>
                    <textarea matInput placeholder="Observation"
                              name="observation"
                              formControlName="observation"
                              rows="5">
                                    </textarea>
                  </mat-form-field>

                  <button mat-raised-button
                          (click)="onSubmitAppel()"
                          class="mat-icon-button" matTooltip="Enregistrer">
                    <mat-icon class="accent-700-fg">save</mat-icon>
                  </button>

                </div>


              </form>

            </mat-tab>


            <mat-tab label="Visite">

              <form name="productForm" [formGroup]="visiteForm" class="product w-100-p" fxLayout="column" fxFlex>

              <div class="tab-content p-24" fusePerfectScrollbar>

                <mat-panel-title>
                  <mat-icon class="mr-4 blue-500-fg">visibility</mat-icon>
                  Ajouter une visite
                </mat-panel-title>
                <br>

                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Appartement Visiter</mat-label>

                  <input matInput placeholder="Appartement visite"
                         name="appart_viste"
                         formControlName="appart_viste"
                         >
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Budget</mat-label>

                  <input matInput placeholder="Budget"
                         name="budget"
                         formControlName="budget"
                         >
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Surface</mat-label>

                  <input matInput placeholder="Surface"
                         name="surface"
                         formControlName="surface"
                         >
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                  <mat-label>Type</mat-label>

                  <input matInput placeholder="Type"
                         name="type"
                         formControlName="type"
                         >
                </mat-form-field>


                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                  <mat-label>Observation</mat-label>
                  <textarea matInput placeholder="Observation"
                            name="observation"
                            formControlName="observation"
                            rows="5">
                                    </textarea>
                </mat-form-field>

                <button mat-raised-button
                        (click)="onSubmitVisite()"
                        class="mat-icon-button" matTooltip="Enregistrer">
                  <mat-icon class="accent-700-fg">save</mat-icon>
                </button>

              </div>


              </form>

            </mat-tab>

            <mat-tab label="Email">
              <form name="AppelForm" [formGroup]="emailForm" class="product w-100-p" fxLayout="column" fxFlex>

                <div class="tab-content p-24" fusePerfectScrollbar>

                  <mat-panel-title>
                    <mat-icon class="mr-4 blue-500-fg">email</mat-icon>
                   Envoyer un Email
                  </mat-panel-title>
                  <br>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Objet</mat-label>

                    <input matInput placeholder="Object"
                           name="object"
                           formControlName="object"
                           required>
                  </mat-form-field>

                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Message"
                              name="message"
                              formControlName="message"
                              rows="5">
                                    </textarea>
                  </mat-form-field>

                  <button mat-raised-button
                          (click)="onSubmitEmail()"
                          class="mat-icon-button" matTooltip="Enregistrer">
                    <mat-icon class="accent-700-fg">save</mat-icon>
                  </button>

                </div>


              </form>

            </mat-tab>

            <mat-tab label="Sms">
              <form name="AppelForm" [formGroup]="smsForm" class="product w-100-p" fxLayout="column" fxFlex>

                <div class="tab-content p-24" fusePerfectScrollbar>


                  <mat-panel-title>
                    <mat-icon class="mr-4 blue-500-fg">sms</mat-icon>
                    Envoyer un sms
                  </mat-panel-title>
                  <br>


                  <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                    <mat-label>Message</mat-label>
                    <textarea matInput placeholder="Message"
                              name="message"
                              formControlName="message"
                              rows="5">
                                    </textarea>
                  </mat-form-field>

                  <button mat-raised-button
                          (click)="onSubmitSms()"
                          class="mat-icon-button" matTooltip="Enregistrer">
                    <mat-icon class="accent-700-fg">save</mat-icon>
                  </button>

                </div>


              </form>

            </mat-tab>



          </mat-tab-group>


      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
