<div id="product" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/partners'">
          <mat-icon>arrow_back</mat-icon>
        </button>


        <div fxLayout="column" fxLayoutAlign="start start"
             [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{partner.nom}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
               Nouveau prospet
          </div>
          <div class="subtitle secondary-text">
            <span>Informmation sur le prosepect</span>
          </div>
        </div>
      </div>

      <!--<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="mt-16">-->
        <!--&lt;!&ndash;<mat-icon class="mat-icon  material-icons mat-icon-no-color cursor-pointer " role="img" aria-hidden="true" *ngIf="breadcrumb.goBackBtn" (click)="goBack()">arrow_back</mat-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="h2"> {{breadcrumb.big_header}} </div>&ndash;&gt;-->

        <!--<button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md-->
                <!--(click)="toggleSidebar('simple-right-sidebar-4')">-->
          <!--<mat-icon>menu</mat-icon>-->
        <!--</button>-->
      <!--</div>-->
      <!--&lt;!&ndash; / APP TITLE &ndash;&gt;-->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">


              <div id="about" class="p-24" fxLayout="row wrap">

                  <div class="about-content pr-20" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="30">

                      <!-- GENERAL INFORMATIONS -->
                      <div class="card mat-card p-0 mb-24">

                          <!-- PREVIEW -->
                          <div class="card-preview">
                              <!--class="light-blue-600"-->
                              <div style="border-radius: 3px;border: 1px solid currentColor; padding: 2px 4px; background-color: white;" [class]="partner.sourceS" class="flag">

                                  <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center">
                                      <!-- Heading -->
                                      <div class="pr-16">


                                          <div class="h1 font-weight-300">
                                              <!--<mat-icon class="mr-4 red-500-fg">group</mat-icon>-->

                                              <button  mat-button matTooltip="changer le statut" *ngIf="partner.statut =='1'" [class]="partner.sourceS" style="cursor: pointer; border: none !important; background-color: white; !important" [matMenuTriggerFor]="PRMenu" >
                                                  <span>  <mat-icon class="mr-4">person</mat-icon> {{ partner.nomS }} </span>
                                              </button>
                                              <button mat-button matTooltip="changer le statut" *ngIf="partner.statut =='2'" [class]="partner.sourceS" style="cursor: pointer; border: none !important; background-color: white; !important" [matMenuTriggerFor]="PRMenu" >
                                                  <span>  <mat-icon class="mr-4">person</mat-icon> {{ partner.nomS }} </span>
                                              </button>
                                              <button mat-button matTooltip="changer le statut" *ngIf="partner.statut =='-1'" [class]="partner.sourceS" style="cursor: pointer; border: none !important; background-color: white; !important" [matMenuTriggerFor]="PRMenu" >
                                                  <span>  <mat-icon class="mr-4">person</mat-icon> {{ partner.nomS }} </span>
                                              </button>
                                              <button mat-button matTooltip="changer le statut" *ngIf="partner.statut =='4'" [class]="partner.sourceS" style="cursor: pointer; border: none !important; background-color: white; !important" [matMenuTriggerFor]="PRMenu" >
                                                  <span>  <mat-icon class="mr-4">person</mat-icon> {{ partner.nomS }} </span>
                                              </button>
                                              <button mat-button matTooltip="changer le statut" *ngIf="partner.statut =='3'" [class]="partner.sourceS" style="cursor: pointer; border: none !important; background-color: white; !important" [matMenuTriggerFor]="PRMenu" >
                                                  <span>  <mat-icon class="mr-4">person</mat-icon> {{ partner.nomS }} </span>
                                              </button>



                                              <mat-menu #PRMenu="matMenu">
                                                  <ul >
                                                      <li style="list-style:none;;" *ngFor="let statuof of status">
                                                          <button mat-raised-button (click)="openDialog(statuof.code)">{{statuof.nom}}</button>
                                                      </li>
                                                  </ul>
                                              </mat-menu>
                                             </div>
                                      </div>
                                      <!-- /Heading -->

                                      <!-- Option Menu -->

                                      <div *ngIf="!enableEditfg1">
                                          <button mat-icon-button [matMenuTriggerFor]="GIMenu" aria-label="more">
                                              <mat-icon>more_vert</mat-icon>
                                          </button>

                                          <mat-menu #GIMenu="matMenu">
                                              <button mat-menu-item (click)="enableEditfg1 = !enableEditfg1">
                                                  <mat-icon>edit</mat-icon>
                                                  <span>Editer</span>
                                              </button>
                                          </mat-menu>
                                      </div>
                                      <!-- /Option Menu -->
                                  </div>

                              </div>
                          </div>
                          <!-- / PREVIEW -->

                          <form [formGroup]="fg1">

                              <div class="p-24">

                                  <!-- Data Panel -->
                                  <div *ngIf="!enableEditfg1">
                                      <div class="info-line">
                                          <div class="title">Email</div>
                                          <div class="info">{{ partner?.email}}</div>

                                      </div>
                                      <div class="info-line">
                                          <div class="title">Telephone</div>
                                          <div class="info">{{ partner?.mobile}}</div>
                                      </div>

                                      <div class="info-line">
                                          <div class="title">Projet</div>
                                          <div class="info">{{ partner?.project}}</div>
                                      </div>
                                      <div class="info-line">
                                          <div class="title">Client</div>

                                          <div class="info">{{ partner.nom  +' '+ partner.prenom}}</div>

                                      </div>
                                      <div class="info-line">
                                          <div class="title">Emploi</div>
                                          <div class="info">{{(partner.fonction || "---")}}</div>
                                      </div>
                                      <div class="info-line">
                                          <div class="title">logo</div>
                                          <div class="info">{{partner?.logo}}</div>
                                      </div>
                                      <div class="info-line">
                                          <div class="title">Lieu de Residence</div>
                                          <div class="info">{{partner?.adresse }}</div>
                                      </div>
                                      <div class="info-line">
                                          <div class="title">Date de naissance</div>
                                          <div class="info">{{partner?.birthdate }}</div>
                                      </div>




                                  </div>
                                  <!-- /Data Panel -->

                                  <!--Form Controls-->
                                  <div *ngIf="enableEditfg1" fxLayout="column">
                                      <!--first_name-->

                                      <mat-form-field appearance="outline">
                                          <mat-label>Email</mat-label>
                                          <input matInput formControlName="email">
                                          <mat-icon matSuffix class="secondary-text">email</mat-icon>
                                          <mat-error>L'email est obligatoir</mat-error>
                                      </mat-form-field>
                                      <!--/first_name-->
                                      <!--last_name-->
                                      <mat-form-field appearance="outline">
                                          <mat-label>Telephone</mat-label>
                                          <input matInput formControlName="mobile" required>
                                          <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                                          <mat-error>Le telephone est obligatoire</mat-error>
                                      </mat-form-field>


                                      <mat-form-field appearance="outline">
                                          <mat-label>Nom</mat-label>
                                          <input matInput formControlName="nom" required>
                                          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                          <mat-error>le nom est obligatoir</mat-error>
                                      </mat-form-field>
                                      <!--/cin-->
                                      <!--birth_day-->
                                      <mat-form-field appearance="outline">
                                          <mat-label>Prenom</mat-label>
                                          <input matInput formControlName="prenom" required>
                                          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                          <mat-error>le prenom est obligatoir</mat-error>
                                      </mat-form-field>

                                      <!--/birth_day-->
                                      <mat-form-field appearance="outline">
                                          <mat-label>Emploi</mat-label>
                                          <input matInput formControlName="emploi" required>
                                          <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                                          <mat-error>l'emploi est obligatoir</mat-error>
                                      </mat-form-field>

                                      <mat-form-field appearance="outline">
                                          <mat-label>Lieu de Residence</mat-label>
                                          <textarea name="adresse" formControlName="adresse" matInput type="text" max-rows="11"></textarea>
                                          <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                          <mat-error>le lieu est obligatoir</mat-error>
                                      </mat-form-field>

                                      <mat-form-field appearance="outline">
                                          <mat-label>Date de naissance</mat-label>
                                          <input matInput [matDatepicker]="picker" formControlName="birth_day">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker startView="year"></mat-datepicker>
                                      </mat-form-field>



                                      <!--<input type="date" name="test" />-->

                                  </div>
                                  <!--/Form Controls-->

                              </div>

                              <div *ngIf="enableEditfg1">
                                  <mat-divider></mat-divider>

                                  <div fxLayout="row" fxAlign="center center" class="px-24 py-12">
                                      <button type="button" class="mr-8" mat-button (click)="enableEditfg1 = !enableEditfg1">Annuler</button>
                                      <button type="submit" mat-button class="light-blue-600 text-secondary" (click)="onSubmitfg1()">Enregistrer</button>
                                  </div>
                              </div>
                          </form>


                      </div>
                      <!-- /GENERAL INFORMATIONS -->


                  </div>

                  <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="70" fxFlex.gt-md="70">
                      <mat-tab-group class="col-md-8 col-sm-12">


                          <mat-tab label="Historique">

                              <mat-accordion>


                                  <mat-expansion-panel *ngFor="let partner of partnerDetail" [expanded]="target == 'users'">
                                      <mat-expansion-panel-header>
                                          <mat-panel-title>
                                              <mat-icon  class="mr-4">{{partner.action_type['source']}}</mat-icon>
                                             {{partner.action_type["nom"]}}
                                              <div style="width: 78%;">

                                                  <span style="margin-left: 10px;float: left" class="green-500-fg p-4 flag" *ngIf="partner.status['code'] =='2' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Client </span>
                                                  <span style="margin-left: 10px;float: left" class="lime-500-fg p-4 flag" *ngIf="partner.status['code'] =='1' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Prospect </span>
                                                  <span style="margin-left: 10px;float: left" class="red-500-fg p-4 flag" *ngIf="partner.status['code'] =='-1' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Perdu </span>
                                                  <span style="margin-left: 10px;float: left" class="cyan-500-fg p-4 flag" *ngIf="partner.status['code'] =='4' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> En négociation </span>
                                                  <span style="margin-left: 10px;float: left" class="orange-500-fg p-4 flag" *ngIf="partner.statut['code'] =='3' && partner.action_type['code'] === -1" > <mat-icon style="margin-left: 10px" class="mr-4">person</mat-icon> Visiteur </span>
                                                  <span style="float: right;display: block;margin-right: 5px" >
                                          date de creation : {{partner.created_at}}
                                                 </span>




                                              </div>

                                          </mat-panel-title>

                                      </mat-expansion-panel-header>
                                      <mat-action-list>
                                          <div *ngIf="partner.type === -1">
                                              <div *ngIf="partner.statut === -1">
                                                  <span>Motif : {{ partner.object }}</span>
                                              </div>
                                              <!--<div *ngIf="partner.statut === 4">-->
                                              <!--<span>Motif : {{ partner.object }}</span>-->
                                              <!--</div>-->
                                              <div *ngIf="partner.statut === 3">
                                                  <span>Motif : {{ partner.object }}</span>
                                              </div>
                                              <div *ngIf="partner.statut === 2">
                                                  <span>Appartement N°: {{ partner.article_id }}</span><br>
                                                  <span>Date : {{ partner.date_planif }}</span>
                                              </div>
                                          </div>
                                          <div *ngIf="partner.type === 1">
                                              <span>Object : {{ partner.object }}</span><br>
                                              <span>Observation : {{ partner.description }}</span>
                                          </div>
                                          <div *ngIf="partner.type === 2">
                                              <span>Appartement visite : {{ partner.article_id }}</span><br>
                                              <span>Budget: {{ partner.prix }}</span><br>
                                              <span>Surface: {{ partner.quantite }}</span><br>
                                              <span>Type: {{ partner.unite_id }}</span><br>
                                              <span>Observation : {{ partner.description }}</span>
                                          </div>
                                          <div *ngIf="partner.type === 3">
                                              <span>Object: {{ partner.object }}</span><br>
                                              <span>Message : {{ partner.description }}</span>
                                          </div>
                                          <div *ngIf="partner.type === 4">
                                              <span>Message : {{ partner.description }}</span>
                                          </div>
                                          <div *ngIf="partner.type === 5">
                                              <span>Ajout d'un document</span>
                                          </div>
                                      </mat-action-list>
                                  </mat-expansion-panel>


                              </mat-accordion>

                          </mat-tab>

                          <mat-tab label="Appel">
                              <form name="AppelForm" [formGroup]="appelForm" class="product w-100-p" fxLayout="column" fxFlex>

                                  <div class="tab-content p-24" fusePerfectScrollbar>

                                      <mat-panel-title>
                                          <mat-icon class="mr-4 blue-500-fg">contact_phone</mat-icon>
                                          Ajouter un appel
                                      </mat-panel-title>
                                      <br>

                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Objet</mat-label>

                                          <input matInput placeholder="Object"
                                                 name="object"
                                                 formControlName="object"
                                                 required>
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Observation</mat-label>
                                          <textarea matInput placeholder="Observation"
                                                    name="observation"
                                                    formControlName="observation"
                                                    rows="5">
                                    </textarea>
                                      </mat-form-field>

                                      <button mat-raised-button
                                              (click)="onSubmitAppel()"
                                              class="mat-icon-button" matTooltip="Enregistrer">
                                          <mat-icon class="accent-700-fg">save</mat-icon>
                                      </button>

                                  </div>


                              </form>

                          </mat-tab>

                          <mat-tab label="Visite">

                              <form name="productForm" [formGroup]="visiteForm" class="product w-100-p" fxLayout="column" fxFlex>

                                  <div class="tab-content p-24" fusePerfectScrollbar>

                                      <mat-panel-title>
                                          <mat-icon class="mr-4 blue-500-fg">visibility</mat-icon>
                                          Ajouter une visite
                                      </mat-panel-title>
                                      <br>

                                      <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                                          <mat-label>Appartement Visiter</mat-label>

                                          <input matInput placeholder="Appartement visite"
                                                 name="appart_viste"
                                                 formControlName="appart_viste"
                                          >
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                                          <mat-label>Date :</mat-label>

                                      <input (click)="touchDate($event)" matInput name="startDate" id="startDate" class="date-picker" />
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                                          <mat-label>Budget</mat-label>

                                          <input matInput placeholder="Budget"
                                                 name="budget"
                                                 formControlName="budget"
                                          >
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                                          <mat-label>Surface</mat-label>

                                          <input matInput placeholder="Surface"
                                                 name="surface"
                                                 formControlName="surface"
                                          >
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" floatLabel="always" class="pr-4 w-50-p">
                                          <mat-label>Type</mat-label>

                                          <input matInput placeholder="Type"
                                                 name="type"
                                                 formControlName="type"
                                          >
                                      </mat-form-field>


                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Observation</mat-label>
                                          <textarea matInput placeholder="Observation"
                                                    name="observation"
                                                    formControlName="observation"
                                                    rows="5">
                                    </textarea>
                                      </mat-form-field>

                                      <button mat-raised-button
                                              (click)="onSubmitVisite()"
                                              class="mat-icon-button" matTooltip="Enregistrer">
                                          <mat-icon class="accent-700-fg">save</mat-icon>
                                      </button>

                                  </div>


                              </form>

                          </mat-tab>

                          <mat-tab label="Email">
                              <form name="AppelForm" [formGroup]="emailForm" class="product w-100-p" fxLayout="column" fxFlex>

                                  <div class="tab-content p-24" fusePerfectScrollbar>

                                      <mat-panel-title>
                                          <mat-icon class="mr-4 blue-500-fg">email</mat-icon>
                                          Envoyer un Email
                                      </mat-panel-title>
                                      <br>

                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Objet</mat-label>

                                          <input matInput placeholder="Object"
                                                 name="object"
                                                 formControlName="object"
                                                 required>
                                      </mat-form-field>

                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Message</mat-label>
                                          <textarea matInput placeholder="Message"
                                                    name="message"
                                                    formControlName="message"
                                                    rows="5">
                                    </textarea>
                                      </mat-form-field>

                                      <button mat-raised-button
                                              (click)="onSubmitEmail()"
                                              class="mat-icon-button" matTooltip="Enregistrer">
                                          <mat-icon class="accent-700-fg">save</mat-icon>
                                      </button>

                                  </div>


                              </form>

                          </mat-tab>

                          <mat-tab label="Sms">
                              <form name="AppelForm" [formGroup]="smsForm" class="product w-100-p" fxLayout="column" fxFlex>

                                  <div class="tab-content p-24" fusePerfectScrollbar>


                                      <mat-panel-title>
                                          <mat-icon class="mr-4 blue-500-fg">sms</mat-icon>
                                          Envoyer un sms
                                      </mat-panel-title>
                                      <br>


                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Message</mat-label>
                                          <textarea matInput placeholder="Message"
                                                    name="message"
                                                    formControlName="message"
                                                    rows="5">
                                    </textarea>
                                      </mat-form-field>

                                      <button mat-raised-button
                                              (click)="onSubmitSms()"
                                              class="mat-icon-button" matTooltip="Enregistrer">
                                          <mat-icon class="accent-700-fg">save</mat-icon>
                                      </button>

                                  </div>


                              </form>

                          </mat-tab>

                          <mat-tab label="Visite prochaine">
                              <form name="DateForm" [formGroup]="dateForm" class="product w-100-p" fxLayout="column" fxFlex>

                                  <div class="tab-content p-24" fusePerfectScrollbar>


                                      <mat-panel-title>
                                          <mat-icon class="mr-4 blue-500-fg">date_range</mat-icon>
                                          Fixer la date de la visite prochaine
                                      </mat-panel-title>
                                      <br>

                                      <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                          <mat-label>Objet</mat-label>

                                          <input matInput placeholder="Object"
                                                 name="object"
                                                 formControlName="object"
                                                 required>
                                          <mat-error>Vous devez specifier l'objet</mat-error>
                                      </mat-form-field>
                                      <!--<div class="info-line">-->
                                          <!--<mat-slide-toggle (change)="toggleChange($event)" >Visite Prochaine Prévue!</mat-slide-toggle>-->
                                      <!--</div>-->

                                      <!--date time-->
                                      <mat-form-field id="date_selected" appearance="outline" floatLabel="always" class="w-100-p" >
                                          <input matInput class="w-100-p"  formControlName="next_visite" [matDatepicker]="picker" placeholder="choisir une date" required>
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                          <mat-error>Vous devez specifier la date</mat-error>
                                      </mat-form-field>

                                      <button mat-raised-button
                                              (click)="onSubmitDate()"
                                              [disabled]="dateForm.invalid"
                                              class="mat-icon-button" matTooltip="Enregistrer">
                                          <mat-icon class="accent-700-fg">save</mat-icon>
                                      </button>

                                  </div>


                              </form>

                          </mat-tab>

                          <mat-tab label="Document">

                              <form name="DocumentForm" [formGroup]="documentForm" class="product w-100-p" fxLayout="column" fxFlex>

                                  <div class="tab-content p-24" fusePerfectScrollbar>


                                      <mat-panel-title>
                                          <mat-icon class="mr-4 blue-500-fg">attachment</mat-icon>
                                          attacher un document
                                      </mat-panel-title>
                                      <br>

                                      <!--<mat-form-field appearance="outline" floatLabel="always" class="w-100-p">-->
                                          <!--<mat-label>Document</mat-label>-->

                                          <!--<input matInput placeholder="document"-->
                                                 <!--name="document"-->
                                                 <!--formControlName="document"-->
                                                 <!--required>-->
                                          <!--<mat-error>Vous devez specifier l'objet</mat-error>-->
                                      <!--</mat-form-field>-->

                                      <button mat-menu-item (click)="triggerFinder()">
                                          <mat-icon class="accent-500-fg">cloud_upload</mat-icon>
                                          <span>Télécharger votre document</span>
                                      </button>
                                      <input type="file" id="doc" class="hidden" formControlName="doc" >


                                      <button mat-raised-button
                                              (click)="onSubmitDocument()"
                                              [disabled]="documentForm.invalid"
                                              class="mat-icon-button" matTooltip="Enregistrer">
                                          <mat-icon class="accent-700-fg">save</mat-icon>
                                      </button>

                                  </div>


                              </form>

                              <!-- The Modal -->
                              <div id="myModal" style="z-index: 999;" class="modal">
                                  <span (click)="close()" id="close" class="close">&times;</span>
                                  <img #img01 class="modal-content" id="img01">
                              </div>

                              <div *ngIf="attachments" class="mail-attachments">

                                  <div class="title">
                                      <span>Attachments</span>
                                      ({{attachments.length}})
                                  </div>

                                  <div class="attachment-list" fxLayout="row wrap">

                                      <div class="attachment" fxLayout="column"
                                           *ngFor="let attachment of attachments">

                                          <img (click)="openModal($event)" class="preview" [src]="attachment.doc">

                                          <div fxLayout="column">
                                              <a [href]="attachment.doc" [download]="attachment.ext" >Télecharger</a>
                                          </div>

                                      </div>
                                  </div>
                              </div>

                          </mat-tab>


                      </mat-tab-group>

                  </div>

              </div>


        <!-- SIDEBAR -->


          <!-- / SIDEBAR CONTENT -->

        <!-- / SIDEBAR -->





      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
