@import "src/@fuse/scss/fuse";

.info-line {
  margin-bottom: 24px;
}

.mat-tab-label-container{
   background: #c5c6cba6 !important;
 }

.mat-expansion-panel{

  background: #039be594 !important;

}


.info-line .title {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 4px;
}

.info-line:last-child {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.cursor-pointer {cursor: pointer !important; }

.a-hovered-style:hover {
  text-decoration: underline;
}

.event-form-dialog {

  @include media-breakpoint('xs') {
    width: 100%;
  }

  @include media-breakpoint('gt-xs') {
    width: 480px;
  }

  .mat-dialog-container {
    padding: 0;
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  .primary-color-input,
  .secondary-color-input {
    padding: 6px 8px;
  }
}

.mail-attachments {
  padding: 24px 0;
  border-top: 1px solid;

  .title {
    margin-bottom: 16px;
    font-weight: 600;
  }

  .attachment {

    .preview {
      width: 100px;
      margin: 0 16px 8px 0;
      border-radius: 4px;
    }

    .link {
      margin-bottom: 2px;
    }

    .size {
      font-size: 11px;
    }
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-width: 700px;
}



/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.ui-datepicker-calendar {
  display: none;
}

/* The Close Button */
.close {
  position: absolute;
  top: 100px;
  right: 200px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


