<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" style="flex-direction: row;box-sizing: border-box;display: flex;place-content: center space-between;align-items: center;">
      <span class="title dialog-title">{{dialogTitle}}</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

    <form [formGroup]="contactForm" >

      <div fxLayout="row" fxLayoutAlign="start start" style="display: flex">
        <mat-form-field appearance="outline" fxFlex style="flex: 1 1 0%">
          <mat-label>Nom categorie</mat-label>
          <input placeholder="Nom categorie" formControlName="nom" value="" #category_name matInput required>
        </mat-form-field>
      </div>

    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <button *ngIf="action === 'edit'"
            mat-button
            class="mr-8"
            (click)="matDialogRef.close(['delete',contactForm])"
            aria-label="Delete"
            matTooltip="Delete">
      DELETE
    </button>

    <button *ngIf="action !== 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(contactForm)"
            [disabled]="contactForm.invalid"
            aria-label="SAVE">
      ADD
    </button>

    <button *ngIf="action === 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(['save',contactForm])"
            [disabled]="contactForm.invalid"
            aria-label="SAVE">
      SAVE
    </button>

  </div>
</div>
